Repository IntersectMBO/cardano-node, pull requests merged in 2022-10, with the labels that each got.

#4531 cardano-tracer: RTView logs live view
  cardano-tracer/cardano-tracer.cabal
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Run.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/State/Errors.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/State/TraceObjects.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/System.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/CSS/Bulma.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/CSS/Own.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Charts.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Body.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Logs.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Main.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Node/Column.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Node/Errors.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Img/Icons.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Logs.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Errors.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Logs.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Nodes.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Reload.hs
  cardano-tracer/src/Cardano/Tracer/Run.hs
Labels: RTView

#4465 Changed severity of 'DiffusionErrored' log message
  cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
Labels: networking

#4534 cardano-api: Export more generators
  cardano-api/gen/Gen/Cardano/Api/Typed.hs
Labels: cardano-api

#4568 Add ToJSON and FromJSON instances for Address
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/test/Test/Cardano/Api/Typed/Address.hs
Labels: enhancement
