Repository IntersectMBO/cardano-node, pull requests merged in 2022-07, with the labels that each got.

#4150 [CAD-4406] UTxO-HD: Make CI pass again
  .github/workflows/haskell.yml
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  cardano-testnet/src/Testnet/Byron.hs
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/src/Testnet/Shelley.hs
  cardano-testnet/test/Spec/ShutdownOnSlotSynced.hs
Labels: nix, UTxO-HD 📒💽

#4105 RTView: MVP
  cardano-node/src/Cardano/Node/Run.hs
  cardano-node/src/Cardano/Node/Startup.hs
  cardano-node/src/Cardano/Node/Tracing.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
  cardano-tracer/configuration/complete-example.json
  cardano-tracer/configuration/complete-example.yaml
  cardano-tracer/configuration/minimal-example.json
  cardano-tracer/configuration/minimal-example.yaml
  cardano-tracer/docs/cardano-rtview.md
  cardano-tracer/docs/cardano-tracer.md
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Notifications/Send.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Notifications/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Run.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/State/Displayed.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/CSS/Own.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/About.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Body.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Main.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/NoNodes.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Node/Column.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Img/Icons.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Chain.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/EraSettings.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/KES.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Leadership.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/NodeInfo.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/NodeState.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Nodes.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Peers.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Reload.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Resources.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Transactions.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Run.hs
  cardano-tracer/test/Cardano/Tracer/Test/Acceptor.hs
  doc/new-tracing/tracers_doc_generated.md
Labels: RTView

#4159 RTView: fix end date of epoch.
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Nodes.hs
Labels: RTView

#4175 RTView: a link from tracer's README, quick start
  cardano-tracer/README.md
  cardano-tracer/configuration/minimal-example-rtview.json
  cardano-tracer/configuration/minimal-example-rtview.yaml
  cardano-tracer/docs/cardano-rtview.md
Labels: RTView

#4178 UTxO-HD: Rework Windows CI to use MSYS2
  .github/workflows/cabal.project.local.ci
  .github/workflows/haskell.yml
  .github/workflows/lmdb.pc
  cabal.project
Labels: nix, Windows, UTxO-HD 📒💽

#4187 Fix `TraceNodeIsLeader` JSON parser
  cardano-testnet/src/Test/Assert.hs
Labels: bug

#4207 cardano-tracer: improve documentation
  cardano-tracer/README.md
  cardano-tracer/docs/cardano-rtview.md
  cardano-tracer/docs/cardano-tracer.md
Labels: RTView, tracing

#4210 RTView: fix logs buttons.
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Node/Column.hs
Labels: RTView, tracing

#4217 Use pkg-config for LMDB
  .github/workflows/cabal.project.local.ci
  cabal.project
  doc/getting-started/building-the-node-on-windows.md
Labels: consensus, UTxO-HD 📒💽

#4233 cardano-tracer: refactoring
  cardano-tracer/bench/cardano-tracer-bench.hs
  cardano-tracer/cardano-tracer.cabal
  cardano-tracer/src/Cardano/Tracer/Acceptors/Client.hs
  cardano-tracer/src/Cardano/Tracer/Acceptors/Run.hs
  cardano-tracer/src/Cardano/Tracer/Acceptors/Server.hs
  cardano-tracer/src/Cardano/Tracer/Acceptors/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Environment.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/Logs/Rotator.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/Logs/TraceObjects.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/Metrics/Servers.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Run.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Charts.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Body.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Main.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Notifications.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Notifications.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/EKG.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/EraSettings.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Errors.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Historical.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/KES.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/NodeInfo.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/NodeState.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Nodes.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Peers.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Reload.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Run.hs
  cardano-tracer/src/Cardano/Tracer/Utils.hs
  cardano-tracer/test/Cardano/Tracer/Test/Acceptor.hs
Labels: RTView, tracing

#4239 tx-generator: fix a bug
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  bench/tx-generator/src/Cardano/Benchmarking/LogTypes.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/TpsThrottle.hs
  bench/tx-generator/src/Cardano/Benchmarking/Tracer.hs
Labels: bug, benchmark
