Repository IntersectMBO/cardano-node, pull requests merged in 2023-03, with the labels that each got.

#4767 Docs for create-cardano
  doc/reference/create-cardano.md
Labels: Stale

#4344 Remove unnecessary validation of Data
  cardano-api/src/Cardano/Api/ScriptData.hs
Labels: Stale

#4691 Use JSON instances for NodeToNodeVersion & NodeToClientVersion
  cardano-node/ChangeLog.md
  cardano-node/src/Cardano/Node/Run.hs
  cardano-node/src/Cardano/Node/Startup.hs
  cardano-node/src/Cardano/Node/Tracing/StateRep.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Startup.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Startup.hs
  doc/getting-started/understanding-config-files.md
Labels: networking, area: trace

#5011 Use Haskell variables for passing values.
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Testnet/Shelley.hs
  cardano-testnet/src/Testnet/Util/Cli.hs
Labels: cardano-testnet
