Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @docs-access, @devops

Allow creation of transactions with no outputs in the cli
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Improved mini-protocol tracers
  cardano-api/src/Cardano/Api/Typed.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

networking trace using show instances rather than json values
  cardano-node/src/Cardano/Tracing/Constraints.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

cardano-node: ToObject instance for Hello (TxSubmission2)
  cardano-node/cardano-node.cabal
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

cardano-node using p2p-governor and connection manager
  cabal.project
  cardano-node/src/Cardano/Node/Configuration/POM.hs
  cardano-node/src/Cardano/Node/Configuration/Topology.hs
  cardano-node/src/Cardano/Node/Parsers.hs
  cardano-node/src/Cardano/Node/Run.hs
  cardano-node/src/Cardano/Tracing/Config.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
  cardano-node/test/Test/Cardano/Node/Gen.hs
  cardano-node/test/Test/Cardano/Node/POM.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

lib-node.sh: allow to change db_root and sock_root
  scripts/benchmarking/lib-node.sh
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Updated some of the scripts and config files
  configuration/defaults/byron-mainnet/configuration.yaml
  configuration/defaults/byron-mainnet/topology.json
  scripts/byron-to-shelley/mkfiles.sh
  scripts/lite/shelley-testnet-2.sh
  scripts/shelley-from-scratch/mkfiles.sh
Owners: @devops, @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update install.md
  doc/getting-started/install.md
Owners: @docs-access

remove non-nix installs in nix installation instructions
  doc/getting-started/building-the-node-using-nix.md
Owners: @docs-access

Update building-the-node-on-windows.md
  doc/getting-started/building-the-node-on-windows.md
Owners: @docs-access

Update install.md
  doc/getting-started/install.md
Owners: @docs-access

Work around haskell.nix #231 in cardano-node-chairman.cabal
  cardano-node-chairman/cardano-node-chairman.cabal
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Initial version of new API modules for client-to-node IPC
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Block.hs
  cardano-api/src/Cardano/Api/IPC.hs
  cardano-api/src/Cardano/Api/Modes.hs
  cardano-api/src/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/TxInMode.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update doc/getting-started/building-the-node-on-windows.md
  doc/getting-started/building-the-node-on-windows.md
Owners: @docs-access

Fix outdated calc process in doc
  doc/stake-pool-operations/node_keys.md
Owners: @docs-access

Fix outdated calc process in doc 2
  doc/stake-pool-operations/node_keys.md
Owners: @docs-access

MetaData -> Metadata
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Certificate.hs
  cardano-api/src/Cardano/Api/Shelley.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/TxMetadata.hs
  cardano-api/src/Cardano/Api/Typed.hs
  cardano-api/test/Test/Cardano/Api/Gen.hs
  cardano-api/test/Test/Cardano/Api/Metadata.hs
  cardano-api/test/Test/Cardano/Api/Typed/Gen.hs
  cardano-api/test/cardano-api-test.cabal
  cardano-api/test/cardano-api-test.hs
  cardano-cli/src/Cardano/CLI/Byron/UpdateProposal.hs
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Orphans.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Pool.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
  cardano-cli/test/Test/Golden/Shelley.hs
  cardano-cli/test/Test/Golden/Shelley/Metadata/StakePoolMetadata.hs
  cardano-cli/test/cardano-cli-golden.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
  nix/sources.json
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @devops

Adapt to ledger changes
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/Certificate.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/Tx.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Value.hs
  cardano-api/test/Test/Cardano/Api/Gen.hs
  cardano-api/test/Test/Cardano/Api/Genesis.hs
  cardano-api/test/Test/Cardano/Api/Ledger.hs
  cardano-api/test/Test/Cardano/Api/Metadata.hs
  cardano-cli/src/Cardano/CLI/Byron/UpdateProposal.hs
  cardano-cli/src/Cardano/CLI/Shelley/Orphans.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Genesis.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-node/src/Cardano/Node/Run.hs
  cardano-node/src/Cardano/Tracing/Kernel.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update to the latest version of ouroboros-network
  cabal.project
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Cabal 3.4 in Github Actions
  .github/workflows/haskell.yml
  hedgehog-extras/src/Hedgehog/Extras/Test/Process.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

CAD-2440 supervisord: consolidate non-service parametrisation in profiles
  nix/supervisord-cluster/default.nix
  nix/supervisord-cluster/genesis.nix
  nix/supervisord-cluster/profiles.nix
Owners: @devops

Write byron tx golden tests
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/Byron/Parsers.hs
  cardano-cli/test/Test/Golden/Byron/PaymentKeys.hs
  cardano-cli/test/Test/Golden/Byron/TextEnvelope/Witness.hs
  cardano-cli/test/Test/Golden/Byron/Tx.hs
  cardano-cli/test/Test/Golden/Byron/TxBody.hs
  cardano-cli/test/Test/Golden/Byron/Witness.hs
  cardano-cli/test/cardano-cli-golden.hs
  cardano-cli/test/data/golden/byron/keys/byron.skey
  cardano-cli/test/data/golden/byron/keys/legacy.skey
  cardano-cli/test/data/golden/byron/tx/legacy.tx
  cardano-cli/test/data/golden/byron/tx/normal.tx
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

update query protocol-parameters code
  doc/stake-pool-operations/simple_transaction.md
Owners: @docs-access

Byron update proposal and vote api integration
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Byron.hs
  cardano-api/src/Cardano/Api/KeysByron.hs
  cardano-api/src/Cardano/Api/SpecialByron.hs
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/Byron/Commands.hs
  cardano-cli/src/Cardano/CLI/Byron/Parsers.hs
  cardano-cli/src/Cardano/CLI/Byron/Run.hs
  cardano-cli/src/Cardano/CLI/Byron/UpdateProposal.hs
  cardano-cli/src/Cardano/CLI/Byron/Vote.hs
  cardano-cli/test/Test/Golden/Byron/UpdateProposal.hs
  cardano-cli/test/Test/Golden/Byron/Vote.hs
  cardano-cli/test/cardano-cli-golden.hs
  cardano-cli/test/data/golden/byron/update-proposal
  cardano-cli/test/data/golden/byron/votes/vote-no
  cardano-cli/test/data/golden/byron/votes/vote-yes
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

fix deprecated/broken cardano-cli code snippets
  doc/stake-pool-operations/KES_period.md
  doc/stake-pool-operations/keys_and_addresses.md
  doc/stake-pool-operations/node_keys.md
  doc/stake-pool-operations/register_key.md
  doc/stake-pool-operations/register_stakepool.md
  doc/stake-pool-operations/retire_stakepool.md
  doc/stake-pool-operations/simple_transaction.md
  doc/stake-pool-operations/withdraw-rewards.md
Owners: @docs-access

Update install.md
  doc/getting-started/install.md
Owners: @docs-access

Create Haskell.yml
  .github/workflows/adavibe_haskell.yml
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Remove Github Actions work arounds
  .github/workflows/haskell.yml
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update copyright to 2021
  LICENSE
  NOTICE
  cardano-api/LICENSE
  cardano-api/NOTICE
  cardano-api/test/LICENSE
  cardano-api/test/NOTICE
  cardano-cli/LICENSE
  cardano-cli/NOTICE
  cardano-config/LICENSE
  cardano-config/NOTICE
  cardano-node-chairman/LICENSE
  cardano-node-chairman/NOTICE
  cardano-node/LICENSE
  cardano-node/NOTICE
  doc/conf.py
  hedgehog-extras/LICENSE
  hedgehog-extras/NOTICE
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @docs-access

Add support for the QueryUTxO via the new IPC API
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Shelley.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/test/Test/Cardano/Api/Typed/Gen.hs
  cardano-api/test/cardano-api-test.cabal
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update link to the cardano-node installation
  doc/logging-monitoring/ekg.md
Owners: @docs-access

Add hlint suggestions
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/Query.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add byron era signing key deserialisation tests
  cardano-cli/cardano-cli.cabal
  cardano-cli/test/Test/Golden/Byron/PaymentKeys.hs
  cardano-cli/test/Test/Golden/Byron/SigningKeys.hs
  cardano-cli/test/cardano-cli-golden.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Reorder the code in ProtocolParameters for improved clarity
  cardano-api/src/Cardano/Api/ProtocolParameters.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add a ProtocolParameters type for the current values
  cardano-api/src/Cardano/Api/ProtocolParameters.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add API support for queries for stake distribution and stake addrs
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/Query.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add a GenesisParameters type for initial params from the genesis
  cardano-api/src/Cardano/Api/ProtocolParameters.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add API support for queries for protocol params.
  cardano-api/src/Cardano/Api/NetworkId.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Typed.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Relax Byron chairman assertion from 53 to 52
  cardano-node-chairman/test/Spec/Chairman/Byron.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Use links to issues in changelog for 1.24.x
  cardano-node/ChangeLog.md
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

CODEOWNERS:

# General reviewers per PR
#                       Duncan   Jordan     Luke       Erik   Thomas   John
*                       @dcoutts @Jimbo4350 @intricate @erikd @mrBliss @newhoggy

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence

# /doc folder and README.* needs to be owned by @docs-access
doc                          @docs-access
README.*                     @docs-access

.buildkite                   @devops
ci                           @devops
configuration                @devops
nix                          @devops
*.nix                        @devops
bors.toml                    @devops
