Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @mgmeier, @cleverca22, @devops, @coot

1.35.1: added changelogs and updated cabal files
  bench/cardano-topology/cardano-topology.cabal
  cardano-api/ChangeLog.md
  cardano-api/cardano-api.cabal
  cardano-cli/ChangeLog.md
  cardano-cli/cardano-cli.cabal
  cardano-node-chairman/cardano-node-chairman.cabal
  cardano-node/ChangeLog.md
  cardano-node/cardano-node.cabal
  cardano-submit-api/CHANGELOG.md
  cardano-testnet/cardano-testnet.cabal
  docker-compose.yml
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @devops

Add isLinux to Test.Base
  cardano-testnet/src/Test/Base.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Remove NoImplicitPrelude from .stylish-haskell.yml
  .stylish-haskell.yaml
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Babbage testnet
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/testnet/Testnet/Commands.hs
  cardano-testnet/testnet/Testnet/Commands/Babbage.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Common runtime types for cardan-testnet
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Test/Runtime.hs
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/src/Testnet/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Remove configurability of TestEnableDevelopmentNetworkProtocols in cardano testnet
  cardano-testnet/src/Testnet/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

New assertByDeadlineMCustom function
  cardano-testnet/src/Test/Process.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Export wallets
  cardano-testnet/src/Testnet/Babbage.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Add command line options for babbage testnet
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/testnet/Testnet/Commands/Babbage.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Add type signatures
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-testnet/test/Spec/Cli/KesPeriodInfo.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Add key pairs to testnet runtime.
  cardano-testnet/src/Test/Runtime.hs
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/test/Main.hs
  cardano-testnet/testnet/Testnet/Commands/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Node logging format configuration for babbage
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Test/Assert.hs
  cardano-testnet/src/Test/Runtime.hs
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/test/Spec/Cli/KesPeriodInfo.hs
  cardano-testnet/testnet/Testnet/Commands/Babbage.hs
  cardano-testnet/testnet/Testnet/Commands/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

New LeadershipSlot type for tests
  cabal.project
  cardano-testnet/src/Test/Runtime.hs
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/src/Testnet/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Add support for JSON logging to cardano testnet
  cardano-testnet/src/Testnet/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

New Babbage leadership schedule test
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Test/Assert.hs
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/test/Main.hs
  cardano-testnet/test/Spec/Cli/Babbage/LeadershipSchedule.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

New Alonzo leadership schedule test
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Test/Assert.hs
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/test/Main.hs
  cardano-testnet/test/Spec/Cli/Alonzo/LeadershipSchedule.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Fix query leadership-schedule for current on Babbage.
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-testnet/src/Test/Assert.hs
  cardano-testnet/test/Spec/Cli/Babbage/LeadershipSchedule.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Disable kes-period-info test with code rather than comments
  cardano-testnet/test/Main.hs
  cardano-testnet/test/Test/Util.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Remove lens
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Test/Assert.hs
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/testnet/Testnet/Commands/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Add utxoCostPerByte parameter.
  cabal.project
  cardano-api/gen/Gen/Cardano/Api/Typed.hs
  cardano-api/src/Cardano/Api/Fees.hs
  cardano-api/src/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api/Value.hs
  cardano-cli/src/Cardano/CLI/Run/Friendly.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/test/data/golden/alonzo/transaction-view.out
  cardano-node/src/Cardano/Node/Tracing/Era/Shelley.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro

Allow transaction build command to build a transaction for era other than the current era.
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/EraCast.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/Summon.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

workbench: small fixes
  bench/locli/src/Cardano/Analysis/Run.hs
  nix/workbench/analyse.sh
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22, @devops

tracing: *.ClientEvent.* -> *.Client.*; BlockFetch.ServerBlock -> BlockFetch.Server
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  doc/new-tracing/tracers_doc_generated.md
Owners: @deepfire, @denisshevchenko, @jutaro, @docs-access

locli: support the new trace hierarchy
  bench/locli/locli.cabal
  bench/locli/src/Cardano/Unlog/LogObject.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

tracing: Forge.StateInfo -> Forge.Loop
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro

trace-resources: fix test
  trace-resources/test/trace-resources-test.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @mgmeier

new tracing: restructure the namespace
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/BlockReplayProgress.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Consensus.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ForgingThreadStats.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Shutdown.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Startup.hs
  doc/new-tracing/tracers_doc_generated.md
  trace-dispatcher/bench/trace-dispatcher-bench.hs
  trace-dispatcher/doc/trace-dispatcher.md
  trace-dispatcher/src/Cardano/Logging/DocuGenerator.hs
  trace-dispatcher/src/Cardano/Logging/Trace.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/Composed.hs
  trace-dispatcher/test/Cardano/Logging/Test/Script.hs
  trace-resources/src/Cardano/Logging/Resources/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @coot, @docs-access, @mgmeier

workbench: update to the new tracing hierarchy
  nix/workbench/profiles/tracing.nix
Owners: @devops

trace-resources: naming fix
  trace-resources/src/Cardano/Logging/Resources/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @mgmeier

Maximise cardano-api GHCJS compatibility
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Certificate.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Revert "Maximise cardano-api GHCJS compatibility"
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Certificate.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

The `mapsize` is now defined in terms of number of gigabytes.
  README.rst
  cardano-node/cardano-node.cabal
  cardano-node/src/Cardano/Node/Configuration/LedgerDB.hs
  cardano-node/src/Cardano/Node/Configuration/POM.hs
  cardano-node/src/Cardano/Node/Parsers.hs
  cardano-node/src/Cardano/Node/Run.hs
  doc/getting-started/understanding-config-files.md
Owners: @docs-access, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @devops

Change the default UTxO HD backend to `InMemory`.
  cardano-node/src/Cardano/Node/Configuration/POM.hs
  cardano-node/test/Test/Cardano/Node/POM.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

cardano-node: NodeStartupInfo as datapoint.
  cardano-node/src/Cardano/Node/Run.hs
  cardano-node/src/Cardano/Node/Startup.hs
  cardano-node/src/Cardano/Node/Tracing.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
  doc/new-tracing/tracers_doc_generated.md
Owners: @devops, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro, @docs-access

RTView: MVP
  cardano-tracer/configuration/complete-example.json
  cardano-tracer/configuration/complete-example.yaml
  cardano-tracer/configuration/minimal-example.json
  cardano-tracer/configuration/minimal-example.yaml
  cardano-tracer/docs/cardano-rtview.md
  cardano-tracer/docs/cardano-tracer.md
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Notifications/Send.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Notifications/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Run.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/State/Displayed.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/CSS/Own.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/About.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Body.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Main.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/NoNodes.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Node/Column.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Img/Icons.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Chain.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/EraSettings.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/KES.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Leadership.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/NodeInfo.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/NodeState.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Nodes.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Peers.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Reload.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Resources.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Transactions.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Run.hs
  cardano-tracer/test/Cardano/Tracer/Test/Acceptor.hs
Owners: @devops, @deepfire, @denisshevchenko

Remove Summon type class and modify EraCast type class
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/EraCast.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/Summon.hs
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Propagate changes to cardano-cli
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Introduce error type into EraCast
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/EraCast.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Propagate changes
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

saving latest round of changes in preparation to move
  cardano-cli/src/Cardano/CLI/Faucet.hs
  cardano-cli/src/Cardano/CLI/Faucet/TxUtils.hs
  cardano-cli/src/Cardano/CLI/Faucet/Types.hs
  cardano-cli/src/Cardano/CLI/Faucet/Web.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                        Duncan   Jordan     Erik   John      Jared
*                        @dcoutts @Jimbo4350 @erikd @newhoggy @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro @mgmeier
trace-forward                                                 @deepfire @denisshevchenko @jutaro @mgmeier
trace-resources                                               @deepfire @denisshevchenko @jutaro @mgmeier
Makefile                                                      @deepfire @mgmeier
*.mk                                                          @deepfire @mgmeier

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops
