Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @mgmeier, @cleverca22, @devops, @coot

New assertByDeadlineMCustom function
  cardano-testnet/src/Test/Process.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Common runtime types for cardan-testnet
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Test/Runtime.hs
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/src/Testnet/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Add command line options for babbage testnet
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/testnet/Testnet/Commands/Babbage.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

New LeadershipSlot type for tests
  cabal.project
  cardano-testnet/src/Test/Runtime.hs
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/src/Testnet/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Node logging format configuration for babbage
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Test/Assert.hs
  cardano-testnet/src/Test/Runtime.hs
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/test/Spec/Cli/KesPeriodInfo.hs
  cardano-testnet/testnet/Testnet/Commands/Babbage.hs
  cardano-testnet/testnet/Testnet/Commands/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Add type signatures
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-testnet/test/Spec/Cli/KesPeriodInfo.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

New Alonzo leadership schedule test
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Test/Assert.hs
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/test/Main.hs
  cardano-testnet/test/Spec/Cli/Alonzo/LeadershipSchedule.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Add support for JSON logging to cardano testnet
  cardano-testnet/src/Testnet/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

New Babbage leadership schedule test
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Test/Assert.hs
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/test/Main.hs
  cardano-testnet/test/Spec/Cli/Babbage/LeadershipSchedule.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Disable kes-period-info test with code rather than comments
  cardano-testnet/test/Main.hs
  cardano-testnet/test/Test/Util.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Fix query leadership-schedule for current on Babbage.
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-testnet/src/Test/Assert.hs
  cardano-testnet/test/Spec/Cli/Babbage/LeadershipSchedule.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Remove lens
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Test/Assert.hs
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/testnet/Testnet/Commands/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Add hw-aeson dependency for hedgehog-extras
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Update build and build-raw commands to accept simple reference minting scripts
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Add utxoCostPerByte parameter.
  cardano-api/gen/Gen/Cardano/Api/Typed.hs
  cardano-api/src/Cardano/Api/Fees.hs
  cardano-api/src/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api/Value.hs
  cardano-cli/src/Cardano/CLI/Run/Friendly.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/test/data/golden/alonzo/transaction-view.out
  cardano-node/src/Cardano/Node/Tracing/Era/Shelley.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro

Allow transaction build command to build a transaction for era other than the current era.
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/EraCast.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/Summon.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Remove Summon type class and modify EraCast type class
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/EraCast.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/Summon.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Exports for new-faucet
  cardano-api/src/Cardano/Api/NetworkId.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Added api and cli changelogs for 1.35.3
  bench/cardano-topology/cardano-topology.cabal
  cabal.project
  cardano-api/ChangeLog.md
  cardano-api/cardano-api.cabal
  cardano-cli/ChangeLog.md
  cardano-cli/cardano-cli.cabal
  cardano-node-chairman/cardano-node-chairman.cabal
  cardano-node/ChangeLog.md
  cardano-node/cardano-node.cabal
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
  cardano-submit-api/CHANGELOG.md
  cardano-testnet/cardano-testnet.cabal
  docker-compose.yml
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @devops

Tidy up
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/EraCast.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Fix query protocol-state
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-cli/src/Cardano/CLI/Shelley/Orphans.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-testnet/test/Test/Util.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Fix building of Alonzo transaction in Babbage era.
  cardano-api/src/Cardano/Api/ProtocolParameters.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Render reference input's script hash when using the calculate-plutus-script-cost option with the build command
  cardano-cli/src/Cardano/CLI/Shelley/Output.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Bump block header protocol version
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Remove unused imports
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Fix hw-aeson cabal.project hash
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Added changelogs for 1.34 and 1.35 to master
  cardano-api/ChangeLog.md
  cardano-cli/ChangeLog.md
  cardano-node/ChangeLog.md
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

tx-generator: cleanup and refactor internal structure of the tx-generator
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/FundSet.hs
  bench/tx-generator/src/Cardano/Benchmarking/ListBufferedSelector.hs
  bench/tx-generator/src/Cardano/Benchmarking/PlutusExample.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Aeson.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Selftest.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

Fix typo in api changelog
  cardano-api/ChangeLog.md
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Bump block header protocol version
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Remove unused imports
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Fix hw-aeson cabal.project hash
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Added 1.35.3 changelogs
  cardano-api/ChangeLog.md
  cardano-cli/ChangeLog.md
  cardano-node/ChangeLog.md
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

RTView: important fixes/improvements MVP.
  cardano-tracer/bench/cardano-tracer-bench.hs
  cardano-tracer/cardano-tracer.cabal
  cardano-tracer/src/Cardano/Tracer/Acceptors/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Environment.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/Logs/File.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/Logs/Journal.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/Logs/TraceObjects.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/Metrics/Monitoring.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/Metrics/Prometheus.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/Metrics/Servers.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Notifications/Send.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Notifications/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Run.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/State/Historical.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/System.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/CSS/Own.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Charts.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Body.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Main.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Node/Column.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Node/Errors.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Node/Peers.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/JS/Charts.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Types.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Historical.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/KES.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Nodes.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Reload.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Run.hs
  cardano-tracer/src/Cardano/Tracer/Types.hs
  cardano-tracer/src/Cardano/Tracer/Utils.hs
  cardano-tracer/test/Cardano/Tracer/Test/Acceptor.hs
Owners: @deepfire, @denisshevchenko

Bisect on ouroboros-network:ece582f0ff1179ce28b055380f04ca7a5f257537
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

WIP
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/EraCast.hs
  cardano-api/src/Cardano/Api/Fees.hs
  cardano-api/src/Cardano/Api/ScriptData.hs
  cardano-api/src/Cardano/Api/Tx.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

WIP
  cardano-api/src/Cardano/Api/Fees.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

WIP
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/ScriptData.hs
  cardano-api/src/Cardano/Api/Tx.hs
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

RTView: improve UI.
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/CSS/Own.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Body.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Node/Column.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Img/Icons.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/KES.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/NodeInfo.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Nodes.hs
Owners: @deepfire, @denisshevchenko

Configurable metrics port in submit-api
  cardano-submit-api/src/Cardano/TxSubmit.hs
  cardano-submit-api/src/Cardano/TxSubmit/CLI/Parsers.hs
  cardano-submit-api/src/Cardano/TxSubmit/CLI/Types.hs
  cardano-submit-api/src/Cardano/TxSubmit/Metrics.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                        Duncan   Jordan     Erik   John      Jared
*                        @dcoutts @Jimbo4350 @erikd @newhoggy @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro @mgmeier
trace-forward                                                 @deepfire @denisshevchenko @jutaro @mgmeier
trace-resources                                               @deepfire @denisshevchenko @jutaro @mgmeier
Makefile                                                      @deepfire @mgmeier
*.mk                                                          @deepfire @mgmeier

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops
