Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @mgmeier, @cleverca22, @devops, @coot

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                        Duncan   Jordan     Erik   John      Jared
*                        @dcoutts @Jimbo4350 @erikd @newhoggy @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro @mgmeier
trace-forward                                                 @deepfire @denisshevchenko @jutaro @mgmeier
trace-resources                                               @deepfire @denisshevchenko @jutaro @mgmeier
Makefile                                                      @deepfire @mgmeier
*.mk                                                          @deepfire @mgmeier

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops

Add documentation for total collateral and return collateral. Update example-babbage-script-usage.sh to use total and return collateral Update mkfiles.sh with jq to properly update the shelley genesis
  cardano-api/src/Cardano/Api/TxBody.hs
  doc/reference/plutus/babbage-script-example.md
  scripts/babbage/example-babbage-script-usage.sh
  scripts/babbage/mkfiles.sh
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @docs-access

Fix: Haddock
  cardano-cli/src/Cardano/CLI/Shelley/Run/Genesis.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Rework Windows CI to use MSYS2
  .github/workflows/cabal.project.local.Linux
  .github/workflows/cabal.project.local.ci
  .github/workflows/cabal.project.local.macOS
  .github/workflows/haskell.yml
Owners: @devops

Integrate UTxO-HD
  .github/workflows/github-page.yml
  .github/workflows/haskell.yml
  README.rst
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  cabal.project
  cardano-api/src/Cardano/Api/IPC.hs
  cardano-api/src/Cardano/Api/IPC/Monad.hs
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-client-demo/ChainSyncClientWithLedgerState.hs
  cardano-client-demo/LedgerState.hs
  cardano-client-demo/StakeCredentialHistory.hs
  cardano-node/cardano-node.cabal
  cardano-node/src/Cardano/Node/Configuration/LedgerDB.hs
  cardano-node/src/Cardano/Node/Configuration/POM.hs
  cardano-node/src/Cardano/Node/Parsers.hs
  cardano-node/src/Cardano/Node/Queries.hs
  cardano-node/src/Cardano/Node/Run.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/StartLeadershipCheck.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
  cardano-node/test/Test/Cardano/Node/POM.hs
  cardano-testnet/src/Testnet/Byron.hs
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/src/Testnet/Shelley.hs
  cardano-testnet/test/Spec/ShutdownOnSlotSynced.hs
  doc/getting-started/building-the-node-on-windows.md
  doc/getting-started/install.md
  doc/getting-started/understanding-config-files.md
  nix/lmdb-mingw.patch
  nix/pkgs.nix
Owners: @devops, @docs-access, @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @coot

Linting
  cardano-node/test/Test/Cardano/Node/POM.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Remove Hash from ouroboros network
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Restore ON sha
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Try to fix nix
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Tweak chairman tests
  cardano-testnet/src/Testnet/Byron.hs
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/src/Testnet/Shelley.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Fix UTxO-HD CI
  .github/workflows/cabal.project.local.ci
  .github/workflows/haskell.yml
  .github/workflows/lmdb.pc
  cabal.project
Owners: @devops, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Fix `TraceNodeIsLeader` JSON parser
  cardano-testnet/src/Test/Assert.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Fix indentation
  cardano-api/src/Cardano/Api/Query.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Update dependencies
  cabal.project
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  releases.json
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro, @coot, @devops

New query pool-state command which obsoletes query pool-params.
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Shelley.hs
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Update ouroboros-network pointer
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

RTView: history backup, MVP
  cardano-tracer/cardano-tracer.cabal
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Run.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/State/Historical.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/System.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Charts.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/About.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Body.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Main.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/JS/Charts.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Historical.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Nodes.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Reload.hs
  cardano-tracer/src/Cardano/Tracer/Run.hs
  cardano-tracer/src/Cardano/Tracer/Utils.hs
Owners: @deepfire, @denisshevchenko

Make query pool-params behave the same as query pool-state, but make it hidden
  cardano-api/src/Cardano/Api/Query.hs
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  releases.json
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Expose AcquireFailure and SystemStart from Cardano.Api.Shelley
  cardano-api/src/Cardano/Api/Shelley.hs
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Output.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Genesis.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Fix consensus tracer
  cardano-node/src/Cardano/Node/Tracing/Tracers/Consensus.hs
Owners: @deepfire, @denisshevchenko, @jutaro

Disable for now check-git-dependencies
  .github/workflows/check-git-dependencies.yml
Owners: @devops

Update node to use ouroboros-network with obsolete node fix
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Cache also the dist-newstyle dir in Github Actions
  .github/workflows/github-page.yml
Owners: @devops

Fix error messages in Cardano.Api.ProtocolParameters
  cardano-api/src/Cardano/Api/ProtocolParameters.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Render reference input's script hash when using the calculate-plutus-script-cost option with the build command
  cardano-cli/src/Cardano/CLI/Shelley/Output.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Fix scripts/babbage/staking-example/register-and-delegate-script-staking-address.sh
  scripts/babbage/staking-example/register-and-delegate-script-staking-address.sh
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

cardano-tracer: improve documentation
  cardano-tracer/README.md
  cardano-tracer/docs/cardano-rtview.md
  cardano-tracer/docs/cardano-tracer.md
Owners: @deepfire, @denisshevchenko

KES, Opcert and counter
  doc/stake-pool-operations/KES_period.md
Owners: @docs-access

Update ouroboros-network pointer
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

RTView: fix logs buttons.
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Node/Column.hs
Owners: @deepfire, @denisshevchenko

bump babbage to report it supports 7.1 in block header
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

bump babbage to report it supports 7.1 in block header
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Dep bump
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Adding changelogs for 1.34 and 1.35 to master
  cardano-api/ChangeLog.md
  cardano-cli/ChangeLog.md
  cardano-node/ChangeLog.md
  cardano-submit-api/CHANGELOG.md
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Update version to 1.35.2 in cabal files
  bench/cardano-topology/cardano-topology.cabal
  cardano-api/cardano-api.cabal
  cardano-cli/cardano-cli.cabal
  cardano-node-chairman/cardano-node-chairman.cabal
  cardano-node/cardano-node.cabal
  cardano-testnet/cardano-testnet.cabal
  docker-compose.yml
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @devops

Adding version 1.35.2
  bench/cardano-topology/cardano-topology.cabal
  cardano-api/ChangeLog.md
  cardano-api/cardano-api.cabal
  cardano-cli/ChangeLog.md
  cardano-cli/cardano-cli.cabal
  cardano-node-chairman/cardano-node-chairman.cabal
  cardano-node/ChangeLog.md
  cardano-node/cardano-node.cabal
  cardano-submit-api/CHANGELOG.md
  cardano-testnet/cardano-testnet.cabal
  docker-compose.yml
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @devops

Use patched aeson from hackage
  cabal.project
  cardano-node-capi/cardano-node-capi.cabal
  cardano-submit-api/cardano-submit-api.cabal
  cardano-testnet/cardano-testnet.cabal
  trace-dispatcher/trace-dispatcher.cabal
  trace-resources/trace-resources.cabal
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro, @mgmeier

Improve json fail message for TraceNodeIsLeader
  cardano-testnet/src/Test/Assert.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Use pkg-config for LMDB
  .github/workflows/cabal.project.local.ci
  cabal.project
  doc/getting-started/building-the-node-on-windows.md
Owners: @devops, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @docs-access

TOREMOVE: just pushing to make CI run again
  README.rst
Owners: @docs-access

TOREMOVE more!
  README.rst
Owners: @docs-access
