Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @cleverca22, @devops, @coot

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                       David          Duncan   Jordan     Erik   John      Nick Jared
*                       @DavidEichmann @dcoutts @Jimbo4350 @erikd @newhoggy @nc6 @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine
nix/supervisord-cluster                                       @deepfire @denisshevchenko @jutaro @MarcFontaine
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro
trace-forward                                                 @deepfire @denisshevchenko @jutaro
trace-resources                                               @deepfire @denisshevchenko @jutaro
Makefile                                                      @deepfire

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops

Propagate TxTotalCollateral and TxReturnCollateral to cardano-cli without integrating total collateral and collatural return functionality to cardano-cli
  cardano-api/src/Cardano/Api.hs
  cardano-cli/src/Cardano/CLI/Byron/Tx.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Propagate updates to tx-generator
  bench/tx-generator/src/Cardano/Benchmarking/FundSet.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SizedMetadata.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Tx.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

Create Sjenica1
  Sjenica1
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Create Sjenica1
  Sjenica1
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Debug LogObject
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

New transaction debug-script command
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Stuff
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Bump deps
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Fix kes period start interval in kes-period-info command
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Isolate kes-period-info and node minting properties to make it easier to understand what failed
  cardano-testnet/cardano-testnet.cabal
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Implement a JSON roundtrip test for QueryKesPeriodInfoOutput
  cardano-api/gen/Gen/Cardano/Api/Typed.hs
  cardano-cli/cardano-cli.cabal
  cardano-cli/test/Test/Cli/JSON.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Remove CertifyingAndWithdrawingPlutus related modules and comments as this has been move to plutus-example
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/test/Main.hs
  cardano-testnet/test/Spec/Plutus/Direct/CertifyingAndWithdrawingPlutus.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Review changes
  cardano-cli/src/Cardano/CLI/Shelley/Output.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-cli/src/Cardano/CLI/Types.hs
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/test/Main.hs
  cardano-testnet/test/Spec/Cli/KesPeriodInfo.hs
  cardano-testnet/test/Testnet/Properties/Cli/KesPeriodInfo.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

DONOTMERGE cabal.project: use ouroboros-network:nfrisby/CAD-4011-node-integration-backported
  cabal.project
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro

Fix pipelining log elision
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

cardano-cli transaction view: Add friendly certificate printing
  cardano-api/src/Cardano/Api/Address.hs
  cardano-cli/src/Cardano/CLI/Run/Friendly.hs
  cardano-cli/test/Test/Golden/TxView.hs
  cardano-cli/test/data/golden/allegra/transaction-view.out
  cardano-cli/test/data/golden/mary/transaction-view.out
  cardano-cli/test/data/golden/shelley/transaction-view.out
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

tx-generator: replace TBQueue/TxSendQueue with a simple semaphore
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/TpsThrottle.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

tx-generator: cabal-level bechmarks
  bench/script/test-stand-alone.json
  bench/tx-generator/data/protocol-parameters.json
  bench/tx-generator/src/Cardano/Benchmarking/Command.hs
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Selftest.hs
  bench/tx-generator/test/Bench.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

remove setter for target nodes
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Example.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Setters.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

remove era from implicit state
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Setters.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

handle era at compile stage
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Example.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Selftest.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

tx-generator: optional reading the node configFile from the CLI
  bench/tx-generator/src/Cardano/Benchmarking/Command.hs
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/NixOptions.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

shift Era out of withEra
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

tx-generator: replace TBQueue/TxSendQueue with a simple semaphore
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/TpsThrottle.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

tx-generator: cabal-level bechmarks
  bench/script/test-stand-alone.json
  bench/tx-generator/data/protocol-parameters.json
  bench/tx-generator/src/Cardano/Benchmarking/Command.hs
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Selftest.hs
  bench/tx-generator/test/Bench.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

remove era from implicit state
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Setters.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

remove setter for target nodes
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Tx.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Example.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Setters.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

handle era at compile stage
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Example.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Selftest.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

shift Era out of withEra
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

tx-generator: optional reading the node configFile from the CLI
  bench/tx-generator/src/Cardano/Benchmarking/Command.hs
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/NixOptions.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

Propagate dep bump changes in cardano-api
  cardano-api/cardano-api.cabal
  cardano-api/gen/Gen/Cardano/Api.hs
  cardano-api/gen/Gen/Cardano/Api/Typed.hs
  cardano-api/src/Cardano/Api/Fees.hs
  cardano-api/src/Cardano/Api/Orphans.hs
  cardano-api/src/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Shelley.hs
  cardano-api/src/Cardano/Api/Shelley/Genesis.hs
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Propagate dep bump changes in cardano-cli
  cardano-cli/src/Cardano/CLI/Shelley/Run/Genesis.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Propagate dep bump changes in cardano-client-demo
  cardano-client-demo/StakeCredentialHistory.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Propagate dep bump changes in cardano-node
  cardano-node/src/Cardano/Node/Queries.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Fix cardano-cli tests as a result of the genesis create command no longer automatically using a default alonzo genesis when none is provided
  cardano-cli/test/Test/Golden/Shelley/Genesis/Create.hs
  cardano-cli/test/data/golden/alonzo/genesis.alonzo.spec.json
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

propagate Plutus updates to tx-generator
  bench/tx-generator/src/Cardano/Benchmarking/PlutusExample.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

Update cardano-testnet with a default alonzo genesis
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/src/Testnet/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

cardano-tracer: disable Windows tests again.
  nix/haskell.nix
Owners: @devops

Bump ledger and add FromCBOR Stashed
  cabal.project
  cardano-api/src/Cardano/Api/Query.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Remove plutus-examples
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/test/Main.hs
  cardano-testnet/test/Spec/Plutus/Direct/ScriptContextEquality.hs
  cardano-testnet/test/Spec/Plutus/Direct/ScriptContextEqualityMint.hs
  cardano-testnet/test/Spec/Plutus/Direct/TxInLockingPlutus.hs
  cardano-testnet/test/Spec/Plutus/Script/TxInLockingPlutus.hs
  cardano-testnet/test/Spec/Plutus/SubmitApi/TxInLockingPlutus.hs
  plutus-example/LICENSE
  plutus-example/NOTICE
  plutus-example/README.md
  plutus-example/app/create-script-context.hs
  plutus-example/app/plutus-example.hs
  plutus-example/example-scripts/anyone-can-mint.plutus
  plutus-example/example-scripts/custom-guess-42-datum-42.plutus
  plutus-example/plutus-example.cabal
  plutus-example/src/Cardano/PlutusExample/AlwaysFails.hs
  plutus-example/src/Cardano/PlutusExample/AlwaysSucceeds.hs
  plutus-example/src/Cardano/PlutusExample/CustomDatumRedeemerGuess.hs
  plutus-example/src/Cardano/PlutusExample/DatumRedeemerGuess.hs
  plutus-example/src/Cardano/PlutusExample/Loop.hs
  plutus-example/src/Cardano/PlutusExample/MintingScript.hs
  plutus-example/src/Cardano/PlutusExample/ScriptContextChecker.hs
  plutus-example/src/Cardano/PlutusExample/Sum.hs
  plutus-example/test/Test/PlutusExample/Gen.hs
  plutus-example/test/Test/PlutusExample/Plutus.hs
  plutus-example/test/Test/PlutusExample/ScriptData.hs
  plutus-example/test/plutus-example-test.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @docs-access
