Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @mgmeier, @cleverca22, @devops, @coot

cardano-tracer: more strictness.
  cardano-tracer/src/Cardano/Tracer/Handlers/Logs/Rotator.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/State/Displayed.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/State/TraceObjects.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Body.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Historical.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/KES.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Resources.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Utils.hs
Owners: @deepfire, @denisshevchenko

Remove unnecessary validation of Data
  cardano-api/src/Cardano/Api/ScriptData.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

tx-generator: fewer IO types
  bench/tx-generator/src/Cardano/Benchmarking/FundSet.hs
  bench/tx-generator/src/Cardano/Benchmarking/ListBufferedSelector.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

Introduce the --relay-specification-file option to the create-staked command. This will allow the specification of the pool relays for all of the created stake pools
  cardano-api/src/Cardano/Api/Shelley.hs
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Genesis.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Stop running CI when the only changes are to docs
  .github/workflows/check-git-dependencies.yml
  .github/workflows/check-mainnet-config.yml
  .github/workflows/check-nix-config.yml
  .github/workflows/github-page.yml
  .github/workflows/haskell.yml
Owners: @devops

workbench: Extract node-services configuration
  nix/workbench/default.nix
  nix/workbench/profiles/default.nix
  nix/workbench/profiles/generator-service.nix
  nix/workbench/profiles/node-services.nix
  nix/workbench/profiles/services-config.nix
  nix/workbench/profiles/tracer-service.nix
  nix/workbench/supervisor.nix
Owners: @devops

workbench: Remove unused code
  nix/workbench/default.nix
  nix/workbench/profile.nix
  nix/workbench/profiles/default.nix
  nix/workbench/supervisor-conf.nix
  nix/workbench/supervisor-run.nix
  nix/workbench/supervisor.nix
Owners: @devops

workbench: Make common code backend independent
  nix/custom-config.nix
  nix/pkgs.nix
  nix/workbench/default.nix
  nix/workbench/profile.nix
  nix/workbench/supervisor-conf.nix
  nix/workbench/supervisor.nix
Owners: @devops

workbench: Create backend awareness
  nix/pkgs.nix
  nix/workbench/backend/services-config.nix
  nix/workbench/backend/supervisor-conf.nix
  nix/workbench/backend/supervisor-run.nix
  nix/workbench/backend/supervisor.nix
  nix/workbench/profile.nix
Owners: @devops

workbench: Indentation
  nix/workbench/backend/supervisor-run.nix
  nix/workbench/profile.nix
Owners: @devops

workbench: Inline nix module imports
  nix/workbench/default.nix
  nix/workbench/genesis.nix
  nix/workbench/profile.nix
  nix/workbench/topology.nix
Owners: @devops

Update register_stakepool.md
  doc/stake-pool-operations/register_stakepool.md
Owners: @docs-access

tx-generator: reintroduce `ToUTxOList` and `makeToUTxOList`.
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

tx-generator: remove fund-set / ix-set
  bench/tx-generator/src/Cardano/Benchmarking/FundSet.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx.hs
  bench/tx-generator/src/Cardano/Benchmarking/ListBufferedSelector.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Types.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

cli genesis create-staked: make the relay spec optional, and allow more than one relay per pool
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Genesis.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

RTView: extended epoch info.
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/CSS/Own.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Main.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Node/Column.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Nodes.hs
Owners: @deepfire, @denisshevchenko

workbench: generate ledger peers
  nix/workbench/genesis.sh
Owners: @devops

InMem to legacy 1
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-api/src/Cardano/Api/Protocol/Types.hs
  cardano-node/src/Cardano/Node/Handlers/Shutdown.hs
  cardano-node/src/Cardano/Node/Queries.hs
  cardano-node/src/Cardano/Node/Run.hs
  cardano-node/src/Cardano/Node/Tracing/API.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/StartLeadershipCheck.hs
  cardano-node/src/Cardano/Tracing/Peer.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @devops, @deepfire, @denisshevchenko, @jutaro, @coot

Update ouroboros-network
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

cardano-node: on startup, trace the configuration through the tracing system
  cardano-node/src/Cardano/Node/Run.hs
  cardano-node/src/Cardano/Node/Startup.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Startup.hs
Owners: @devops, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro

node: hlint
  cardano-cli/src/Cardano/CLI/Shelley/Run/Genesis.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

cardano-node: on startup, trace the configuration through the tracing system
  cardano-node/src/Cardano/Node/Run.hs
  cardano-node/src/Cardano/Node/Startup.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Startup.hs
Owners: @devops, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro

workbench: don't filter out machine perf timelines
  nix/workbench/run.sh
Owners: @devops

Removed P2PWarningDevelopmentNetworkProtocols
  cardano-node/src/Cardano/Node/Run.hs
  cardano-node/src/Cardano/Node/Startup.hs
  cardano-node/src/Cardano/Node/Tracing/StateRep.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Startup.hs
  cardano-node/src/Cardano/Tracing/Startup.hs
Owners: @devops, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro

Reword where to get peers from in understanding-config-files.md
  doc/getting-started/understanding-config-files.md
Owners: @docs-access

Modify P2PWarning message
  cardano-node/src/Cardano/Node/Tracing/Tracers/Startup.hs
Owners: @deepfire, @denisshevchenko, @jutaro

RTView: node type.
  cardano-tracer/docs/cardano-rtview.md
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/CSS/Own.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Node/Column.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Nodes.hs
Owners: @deepfire, @denisshevchenko

Updated ouroboros-network dependency
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Use openFileBlocking for reading signing keys
  cardano-cli/ChangeLog.md
  cardano-cli/src/Cardano/CLI/Shelley/Key.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Append change instead of prepending it
  cardano-api/ChangeLog.md
  cardano-api/src/Cardano/Api/Fees.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Update index state
  cabal.project
  flake.lock
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @devops

cardano-node: sync percent fixed.
  cardano-node/src/Cardano/Node/Tracing/StateRep.hs
Owners: @deepfire, @denisshevchenko, @jutaro

Updated trace-forward library
  cabal.project
  trace-forward/src/Trace/Forward/Protocol/DataPoint/Acceptor.hs
  trace-forward/src/Trace/Forward/Protocol/DataPoint/Codec.hs
  trace-forward/src/Trace/Forward/Protocol/DataPoint/Forwarder.hs
  trace-forward/src/Trace/Forward/Protocol/DataPoint/Type.hs
  trace-forward/src/Trace/Forward/Protocol/TraceObject/Acceptor.hs
  trace-forward/src/Trace/Forward/Protocol/TraceObject/Codec.hs
  trace-forward/src/Trace/Forward/Protocol/TraceObject/Forwarder.hs
  trace-forward/src/Trace/Forward/Protocol/TraceObject/Type.hs
  trace-forward/src/Trace/Forward/Run/TraceObject/Acceptor.hs
  trace-forward/src/Trace/Forward/Run/TraceObject/Forwarder.hs
  trace-forward/src/Trace/Forward/Utils/TraceObject.hs
  trace-forward/test/Test/Trace/Forward/Protocol/DataPoint/Codec.hs
  trace-forward/test/Test/Trace/Forward/Protocol/DataPoint/Tests.hs
  trace-forward/test/Test/Trace/Forward/Protocol/TraceObject/Codec.hs
  trace-forward/test/Test/Trace/Forward/Protocol/TraceObject/Examples.hs
  trace-forward/test/Test/Trace/Forward/Protocol/TraceObject/Tests.hs
  trace-forward/trace-forward.cabal
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro, @mgmeier

Updated cardano-api
  cardano-api/src/Cardano/Api/ChainSync/ClientPipelined.hs
  cardano-api/src/Cardano/Api/IPC.hs
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-api/src/Cardano/Api/Query.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Updated cardano-node
  cardano-node/cardano-node.cabal
  cardano-node/src/Cardano/Node/TraceConstraints.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro, @coot, @devops

Updated cardano-client-demo & benchmarking code
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  cardano-client-demo/LedgerState.hs
  cardano-client-demo/ScanBlocksPipelined.hs
  cardano-client-demo/cardano-client-demo.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Small typo at building-the-node-using-nix.md
  doc/getting-started/building-the-node-using-nix.md
Owners: @docs-access

Small typo at cardano-node-cli-reference.md
  doc/reference/cardano-node-cli-reference.md
Owners: @docs-access

WIP use fifo
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Fifo.hs
  bench/tx-generator/src/Cardano/Benchmarking/FundSet.hs
  bench/tx-generator/src/Cardano/Benchmarking/ListBufferedSelector.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

workbench | supervisord: disable autorestarts & enable startsecs control for generator
  nix/workbench/backend/supervisor-conf.nix
Owners: @devops

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                        Duncan   Jordan     Erik   John      Jared
*                        @dcoutts @Jimbo4350 @erikd @newhoggy @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro @mgmeier
trace-forward                                                 @deepfire @denisshevchenko @jutaro @mgmeier
trace-resources                                               @deepfire @denisshevchenko @jutaro @mgmeier
Makefile                                                      @deepfire @mgmeier
*.mk                                                          @deepfire @mgmeier

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops
