Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @dcoutts, @erikd, @LudvikGalois, @CarlosLopezDeLara, @docs-access, @deepfire, @mgmeier, @MarcFontaine, @denisshevchenko, @jutaro, @fmaste, @cleverca22, @devops, @coot

CODEOWNERS:

# Technical writers
doc                                                           @Jimbo4350 @newhoggy @fsancheziohk @nahern @olgahryniuk
README.*                                                      @Jimbo4350 @newhoggy @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @LaurenceIO

# General reviewers per PR
#                        Duncan   Jordan     Erik   John      Robert        Carlos
*                        @dcoutts @Jimbo4350 @erikd @newhoggy @LudvikGalois @CarlosLopezDeLara

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @mgmeier @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @fmaste @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @fmaste
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro @mgmeier
trace-forward                                                 @deepfire @denisshevchenko @jutaro @mgmeier
trace-resources                                               @deepfire @denisshevchenko @jutaro @mgmeier
Makefile                                                      @deepfire @mgmeier @fmaste
*.mk                                                          @deepfire @mgmeier @fmaste

nix                                                           @devops @deepfire @mgmeier @fmaste
*.nix                                                         @devops @deepfire @mgmeier @fmaste
flake.lock                                                    @devops @deepfire @mgmeier @fmaste

.buildkite                                                    @Jimbo4350 @newhoggy @devops
.github                                                       @Jimbo4350 @newhoggy @devops
ci                                                            @Jimbo4350 @newhoggy @devops
configuration                                                 @Jimbo4350 @newhoggy @devops
bors.toml                                                     @Jimbo4350 @newhoggy @devops
docker-compose.yml                                            @Jimbo4350 @newhoggy @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @Jimbo4350 @newhoggy @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @Jimbo4350 @newhoggy @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @Jimbo4350 @newhoggy @devops
cardano-node/src/Cardano/Node/Tracing                         @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @Jimbo4350 @newhoggy @devops

Fold Name into Store
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Store.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Remove [gs]et(NetworkId|SocketPath) accessors.
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/NodeConfig.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: refactor SigningKey related code to API
  bench/tx-generator/app/tx-generator-api.hs
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Aeson.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Selftest.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
  bench/tx-generator/src/Cardano/TxGenerator/Internal/Orphans.hs
  bench/tx-generator/src/Cardano/TxGenerator/PureExample.hs
  bench/tx-generator/src/Cardano/TxGenerator/Setup/Plutus.hs
  bench/tx-generator/src/Cardano/TxGenerator/Setup/SigningKey.hs
  bench/tx-generator/src/Cardano/TxGenerator/Types.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Fix the workbench shell
  nix/workbench/shell.nix
Owners: @devops, @deepfire, @mgmeier, @fmaste

Remove LoggingLayer case of Store.
  bench/tx-generator/src/Cardano/Benchmarking/Script/Store.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Remove ProtocolParameterMode case from Store
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Store.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Remove BenchTracers case from Store
  bench/tx-generator/src/Cardano/Benchmarking/Script.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/NodeConfig.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Selftest.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Store.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Remove Genesis case of Store
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/NodeConfig.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Store.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Share Env accessor code
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Remove Protocol case of Store
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/NodeConfig.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Store.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Env hlint warning cleanup
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Fix extraneous parentheses flagged by hlint
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Bump hackage.nix
  flake.lock
Owners: @devops, @deepfire, @mgmeier, @fmaste

Update haskell.nix to PR branch
  flake.lock
Owners: @devops, @deepfire, @mgmeier, @fmaste

Syntax changes to accomodate ghc-9.2.4
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SizedMetadata.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/test/Main.hs
  cardano-api/src/Cardano/Api/LedgerEvent.hs
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-api/src/Cardano/Api/TxSubmit/ErrorRender.hs
  cardano-api/src/Cardano/Api/TxSubmit/Types.hs
  cardano-api/test/Test/Cardano/Api/Crypto.hs
  cardano-cli/app/cardano-cli.hs
  cardano-cli/src/Cardano/CLI/Byron/Delegation.hs
  cardano-cli/src/Cardano/CLI/Byron/Genesis.hs
  cardano-cli/src/Cardano/CLI/Byron/Key.hs
  cardano-cli/src/Cardano/CLI/Byron/Parsers.hs
  cardano-cli/src/Cardano/CLI/Byron/Tx.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-node-chairman/app/Cardano/Chairman.hs
  cardano-node-chairman/app/Cardano/Chairman/Commands/Run.hs
  cardano-node/app/cardano-node.hs
  cardano-node/src/Cardano/Node/Parsers.hs
  cardano-node/src/Cardano/Node/Queries.hs
  cardano-node/src/Cardano/Node/Tracing/Era/HardFork.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Common.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/HardFork.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
  cardano-submit-api/src/Cardano/TxSubmit/ErrorRender.hs
  trace-dispatcher/src/Cardano/Logging/Configuration.hs
  trace-dispatcher/src/Cardano/Logging/Trace.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/Composed.hs
  trace-dispatcher/src/Cardano/Logging/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

Remove unused constraints
  cardano-api/src/Cardano/Api/Query.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Consensus.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
  trace-dispatcher/src/Cardano/Logging/FrequencyLimiter.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara, @deepfire, @denisshevchenko, @jutaro, @mgmeier

Remove unused dependencies
  cardano-api/cardano-api.cabal
  cardano-cli/cardano-cli.cabal
  cardano-node-chairman/cardano-node-chairman.cabal
  cardano-node/cardano-node.cabal
  cardano-testnet/cardano-testnet.cabal
  cardano-tracer/cardano-tracer.cabal
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara, @deepfire, @denisshevchenko

Remove SNetworkId case of Store
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/NodeConfig.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Store.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Remove SSocketPath from Store
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Store.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

locli: track errors
  bench/locli/src/Cardano/Analysis/MachPerf.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

cardano-tracer: optional state dir for RTView
  cardano-tracer/bench/cardano-tracer-bench.hs
  cardano-tracer/src/Cardano/Tracer/CLI.hs
  cardano-tracer/src/Cardano/Tracer/Environment.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/Metrics/Monitoring.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Notifications/Send.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Notifications/Settings.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Notifications/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Run.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/SSL/Certs.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/System.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Charts.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Body.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Main.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Notifications.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Notifications.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Theme.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Historical.hs
  cardano-tracer/src/Cardano/Tracer/Run.hs
  cardano-tracer/test/Cardano/Tracer/Test/Acceptor.hs
  cardano-tracer/test/Cardano/Tracer/Test/DataPoint/Tests.hs
  cardano-tracer/test/Cardano/Tracer/Test/Logs/Tests.hs
  cardano-tracer/test/Cardano/Tracer/Test/Restart/Tests.hs
Owners: @deepfire, @denisshevchenko

Remove KeyName case from Store
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Aeson.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Selftest.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Store.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Remove ThreadName from Store
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Aeson.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Store.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Remove Store altogether
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Aeson.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Selftest.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Store.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Fix MacOS GHA CI
  .github/workflows/haskell.yml
Owners: @Jimbo4350, @newhoggy, @devops

Fix MacOS GHA CI
  .github/workflows/haskell.yml
Owners: @Jimbo4350, @newhoggy, @devops

wb | multirun: slight tweak for analysis output for better sorting
  nix/workbench/analyse.sh
Owners: @devops, @deepfire, @mgmeier, @fmaste

Add Ord instance for AddressInEra
  cardano-api/src/Cardano/Api/Address.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

wb | analyse: add less inconvenient filtering options
  nix/workbench/analyse.sh
  nix/workbench/lib.sh
Owners: @devops, @deepfire, @mgmeier, @fmaste

wb | analyse: fix a devilish bash quoting issue
  nix/workbench/analyse.sh
  nix/workbench/lib.sh
Owners: @devops, @deepfire, @mgmeier, @fmaste

locli | MachPerf: filter out LOErrors
  bench/locli/src/Cardano/Analysis/MachPerf.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

wb | chain filters: add adopt-10
  nix/workbench/chain-filters/adopt-10.json
Owners: @devops, @deepfire, @mgmeier, @fmaste

locli: guard against gaps that are far too large to patch (e.g. due to wring epoch->slot mapping)
  bench/locli/src/Cardano/Analysis/MachPerf.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Updated ouroboros-network
  cabal.project
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara, @devops, @coot

Made runTxBuildRaw and runTxBuild pure functions
  cardano-api/src/Cardano/Api/Fees.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

Update cardano-api vNext: Expand BalancedTxBody to include TxBodyContent
  cardano-api/ChangeLog.md
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

Bump CHaP, remove some source-repository-packages
  cabal.project
  flake.lock
  nix/haskell.nix
  trace-dispatcher/trace-dispatcher.cabal
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara, @devops, @deepfire, @mgmeier, @fmaste, @denisshevchenko, @jutaro

workbench: RTS mode control, verbosity control, separate block-propagation subop
  nix/workbench/analyse.sh
  nix/workbench/lib.sh
  nix/workbench/wb
Owners: @devops, @deepfire, @mgmeier, @fmaste

bench | locli: progress reporting fixes
  bench/locli/src/Cardano/Analysis/BlockProp.hs
  bench/locli/src/Cardano/Analysis/Run.hs
  bench/locli/src/Cardano/Util.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

cardano-tracer: RTView logs live view
  cardano-tracer/cardano-tracer.cabal
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Run.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/State/Errors.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/State/TraceObjects.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/System.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/CSS/Bulma.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/CSS/Own.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Charts.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Body.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Logs.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Main.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Node/Column.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Node/Errors.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Img/Icons.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Logs.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Errors.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Logs.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Nodes.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Reload.hs
  cardano-tracer/src/Cardano/Tracer/Run.hs
Owners: @deepfire, @denisshevchenko
