Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @mgmeier, @cleverca22, @devops, @coot

workbench | supervisord: disable autorestarts & enable startsecs control for generator
  nix/workbench/backend/supervisor-conf.nix
Owners: @devops

Update ouroboros-network dependency
  cabal.project
  cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  flake.nix
  nix/workbench/membench-overlay.nix
  nix/workbench/shell.nix
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro, @coot, @devops

workbench: Make sure all path related configurations are in a special configuration file
  nix/workbench/backend/services-config.nix
  nix/workbench/profiles/generator-service.nix
Owners: @devops

workbench: Everything nodes, tracer and generator need inside their respectives subfolders
  nix/workbench/backend/services-config.nix
  nix/workbench/supervisor.sh
Owners: @devops

workbench: Remove some unused code, indent and other cleanups
  nix/workbench/backend/supervisor.nix
  nix/workbench/default.nix
Owners: @devops

tx-generator: make good use of multiple wallets.
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Fifo.hs
  bench/tx-generator/src/Cardano/Benchmarking/FundSet.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Selftest.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

workbench: Move backend specific files inside the backend subfolder
  nix/workbench/backend/supervisor.sh
  nix/workbench/default.nix
  nix/workbench/wb
Owners: @devops

Removed runRunCommand
  cardano-node/app/cardano-node.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Parsing of non-p2p topology file
  cardano-node/src/Cardano/Node/Configuration/Topology.hs
  cardano-node/src/Cardano/Node/Configuration/TopologyP2P.hs
  cardano-node/src/Cardano/Node/Run.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @devops

Remove unfinished handlePeersListSimple
  cardano-node/src/Cardano/Node/Run.hs
Owners: @devops

generalise types (add change that was lost in a rebase)
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

tx-generator: rebase pure example for latest updates
  bench/tx-generator/src/Cardano/TxGenerator/PureExample.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

wb: integrate db-synthesizer
  flake.nix
  nix/workbench/shell.nix
Owners: @devops

Update link to environments config files
  README.rst
Owners: @docs-access

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                        Duncan   Jordan     Erik   John      Jared
*                        @dcoutts @Jimbo4350 @erikd @newhoggy @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro @mgmeier
trace-forward                                                 @deepfire @denisshevchenko @jutaro @mgmeier
trace-resources                                               @deepfire @denisshevchenko @jutaro @mgmeier
Makefile                                                      @deepfire @mgmeier
*.mk                                                          @deepfire @mgmeier

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops
