Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @dcoutts, @erikd, @LudvikGalois, @CarlosLopezDeLara, @docs-access, @deepfire, @mgmeier, @MarcFontaine, @denisshevchenko, @jutaro, @fmaste, @cleverca22, @devops, @coot

CODEOWNERS:

# Technical writers
doc                                                           @Jimbo4350 @newhoggy @fsancheziohk @nahern @olgahryniuk
README.*                                                      @Jimbo4350 @newhoggy @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @LaurenceIO

# General reviewers per PR
#                        Duncan   Jordan     Erik   John      Robert        Carlos
*                        @dcoutts @Jimbo4350 @erikd @newhoggy @LudvikGalois @CarlosLopezDeLara

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @mgmeier @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @fmaste @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @fmaste
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro @mgmeier
trace-forward                                                 @deepfire @denisshevchenko @jutaro @mgmeier
trace-resources                                               @deepfire @denisshevchenko @jutaro @mgmeier
Makefile                                                      @deepfire @mgmeier @fmaste
*.mk                                                          @deepfire @mgmeier @fmaste

nix                                                           @devops @deepfire @mgmeier @fmaste
*.nix                                                         @devops @deepfire @mgmeier @fmaste
flake.lock                                                    @devops @deepfire @mgmeier @fmaste

.buildkite                                                    @Jimbo4350 @newhoggy @devops
.github                                                       @Jimbo4350 @newhoggy @devops
ci                                                            @Jimbo4350 @newhoggy @devops
configuration                                                 @Jimbo4350 @newhoggy @devops
bors.toml                                                     @Jimbo4350 @newhoggy @devops
docker-compose.yml                                            @Jimbo4350 @newhoggy @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @Jimbo4350 @newhoggy @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @Jimbo4350 @newhoggy @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @Jimbo4350 @newhoggy @devops
cardano-node/src/Cardano/Node/Tracing                         @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @Jimbo4350 @newhoggy @devops

Bump CHaP again
  cabal.project
  flake.lock
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara, @devops, @deepfire, @mgmeier, @fmaste

Try to restore compilation
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

revert changes to workbench
  nix/workbench/analyse.nix
  nix/workbench/analyse.sh
  nix/workbench/backend.sh
  nix/workbench/chaindb.sh
  nix/workbench/default.nix
  nix/workbench/env.sh
  nix/workbench/genesis.nix
  nix/workbench/genesis.sh
  nix/workbench/lib-cabal.sh
  nix/workbench/lib.sh
  nix/workbench/manifest.sh
  nix/workbench/profile-run.jq
  nix/workbench/profile.nix
  nix/workbench/profile.sh
  nix/workbench/profiles/default.nix
  nix/workbench/profiles/generator-service.nix
  nix/workbench/profiles/node-services.nix
  nix/workbench/profiles/profiles.jq
  nix/workbench/profiles/tracer-service.nix
  nix/workbench/profiles/tracing-legacy.nix
  nix/workbench/profiles/tracing.nix
  nix/workbench/run.sh
  nix/workbench/scenario.sh
  nix/workbench/shell.nix
  nix/workbench/topology.nix
  nix/workbench/topology.sh
  nix/workbench/wb
Owners: @devops, @deepfire, @mgmeier, @fmaste

Remove old Win32 nonReinstallablePkgs workaround
  nix/haskell.nix
Owners: @devops, @deepfire, @mgmeier, @fmaste

Minor cabal.project adjustments
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

search WIP
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Logs.hs
Owners: @deepfire, @denisshevchenko
