Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @docs-access, @devops

Add generators and tests for new API tx-related types
  cardano-api/src/Cardano/API.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Typed.hs
  cardano-api/test/Test/Cardano/Api/MetaData.hs
  cardano-api/test/Test/Cardano/Api/Typed/CBOR.hs
  cardano-api/test/Test/Cardano/Api/Typed/Gen.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

api: Export some address and stake address functionality
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Implement To/FromJSON instances for Value (Multi-Asset Value)
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Typed.hs
  cardano-api/src/Cardano/Api/Value.hs
  cardano-api/test/Test/Cardano/Api/Typed/Gen.hs
  cardano-api/test/Test/Cardano/Api/Typed/Value.hs
  cardano-api/test/cardano-api-test.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Publish default values in CLI help
  cardano-node-chairman/src/Testnet/Byron.hs
  cardano-node-chairman/src/Testnet/ByronShelley.hs
  cardano-node-chairman/src/Testnet/Shelley.hs
  cardano-node-chairman/test/Spec/Chairman/ByronShelley.hs
  cardano-node-chairman/test/Spec/Chairman/Shelley.hs
  cardano-node-chairman/testnet/Testnet/Commands/ByronShelley.hs
  cardano-node-chairman/testnet/Testnet/Commands/Shelley.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

CAD-2337 api: toAddressAny :: Address addr -> AddressAny
  cardano-api/src/Cardano/API.hs
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/Typed.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

CAD-2337 api: fromShelley{Payment,Stake}{Credential,Reference}
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update Cabal build instructions to include 'xz' when using yum package manager. Without this, unpacking of cabal can fail.
  doc/getting-started/install.md
Owners: @docs-access

CAD-1920 cli: `shelley genesis create-staked` and bulk pools support
  cardano-api/src/Cardano/Api/Certificate.hs
  cardano-api/src/Cardano/Api/Typed.hs
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Address.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Genesis.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Node.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Pool.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/StakeAddress.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update cardano-cli tx build command to use CardanoEra flag
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
  cardano-cli/src/Cardano/CLI/Types.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update "build-raw" cli command to use TxOutAnyEra and other new features
  cardano-api/src/Cardano/API.hs
  cardano-api/src/Cardano/Api/Typed.hs
  cardano-api/src/Cardano/Api/Value.hs
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
  cardano-cli/src/Cardano/CLI/Types.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise cli tx commands over eras: sign, witness, assemble, fee, txid
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise mkShelleyBootstrapWitness(es) over all (Shelley-based) eras
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add a InAnyCardanoEra existential wrapper type
  cardano-api/src/Cardano/API.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Typed.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add tx body feature conversion functions
  cardano-api/src/Cardano/API.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Typed.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Make cardanoEraStyle a function of CardanoEra not a class method
  cardano-api/src/Cardano/API.hs
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Typed.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

First step at era-generalising the script witness handling in the cli
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/Typed.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add withCardanoEra function
  cardano-cli/src/Cardano/CLI/Types.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Carry class context in era GADTs for convenience
  cardano-api/src/Cardano/Api/Eras.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Rewrite runTxBuildRaw in terms of typed TxBodyContent API
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add readFile* functions for reading in any era
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Export TxBodyError from API modules
  cardano-api/src/Cardano/API.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Typed.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Clarify that some tx feature types are negations of each other.
  cardano-api/src/Cardano/API.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Typed.hs
  cardano-api/test/Test/Cardano/Api/Typed/Gen.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add a TestEquality instance for CardanoEra
  cardano-api/src/Cardano/Api/Eras.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise tx submit command to all eras
  cardano-api/src/Cardano/Api/TxSubmit.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Fix hlint warnings
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
  cardano-cli/src/Cardano/CLI/Types.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Loosen ByronShelley block count assertion
  cardano-node-chairman/test/Spec/Chairman/ByronShelley.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Continue supporting --ttl option in "transaction build" command
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Better thread handling when starting main node action
  cardano-node/src/Cardano/Node/Run.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

CAD-1877 node: accept bulk credentials in non-Cardano mode
  cardano-node/src/Cardano/Node/Parsers.hs
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
  cardano-node/src/Cardano/Node/Protocol/Shelley.hs
  cardano-node/src/Cardano/Node/Types.hs
  cardano-node/test/Test/Cardano/Node/POM.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

CAD-1877 node: switch to separate processing of CLI and bulk creds
  cardano-node/src/Cardano/Node/Protocol/Shelley.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Split api examples module into two
  cardano-api/cardano-api.cabal
  cardano-api/test/Test/Cardano/Api/Examples.hs
  cardano-api/test/Test/Cardano/Api/Genesis.hs
  cardano-api/test/Test/Cardano/Api/Ledger.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update index state to 2020-11-15
  cabal.project
  cardano-node/src/Cardano/Node/Run.hs
  nix/sources.json
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @devops

Remove unused readFileScript
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add a AnyCardanoEra type
  cardano-api/src/Cardano/API.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Typed.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Replace use of UseCardanoEra by AnyCardanoEra
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
  cardano-cli/src/Cardano/CLI/Types.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add retry logic in Github Actions
  .github/bin/retry
  .github/workflows/haskell.yml
  cardano-node-chairman/app/Cardano/Chairman.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update retire_stakepool.md
  doc/stake-pool-operations/retire_stakepool.md
Owners: @docs-access

Diffusion initialization logging.
  .github/workflows/haskell.yml
  cabal.project
  cardano-node/src/Cardano/Node/Run.hs
  cardano-node/src/Cardano/Tracing/Config.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/HardFork.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
  configuration/chairman/byron-shelley/configuration.yaml
  configuration/chairman/defaults/simpleview/config-0.yaml
  configuration/chairman/defaults/simpleview/config-1.yaml
  configuration/chairman/defaults/simpleview/config-2.yaml
  configuration/chairman/shelly-only/configuration.yaml
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @devops

Extra logging
  cabal.project
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Switch input format of auxiliary script to JSON
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

CODEOWNERS:

# General reviewers per PR
#                       Duncan   Jordan     Luke       Erik   Thomas   John
*                       @dcoutts @Jimbo4350 @intricate @erikd @mrBliss @newhoggy

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence

# /doc folder and README.* needs to be owned by @docs-access
doc                          @docs-access
README.*                     @docs-access

.buildkite                   @devops
ci                           @devops
configuration                @devops
nix                          @devops
*.nix                        @devops
bors.toml                    @devops
