Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @cleverca22, @devops, @coot

workbench: more processing fixes
  nix/workbench/analyse.sh
  nix/workbench/run.sh
Owners: @devops

workbench: specify filters in profiles & feed analysis
  nix/workbench/analyse.sh
  nix/workbench/profiles/adhoc.jq
  nix/workbench/profiles/defaults.jq
  nix/workbench/profiles/derived.jq
  nix/workbench/profiles/profiles.jq
  nix/workbench/supervisor.sh
Owners: @devops

doc: check in new generated
  doc/new-tracing/tracers_doc_generated.md
Owners: @docs-access

scripts and config: Profiling adds
  cabal.project
  configuration/cardano/mainnet-config-all-traces.yaml
  configuration/cardano/mainnet-config-new-tracing-all-tracers.yaml
  configuration/cardano/membench-config-new-all-tracers.yaml
  configuration/cardano/membench-config-old-all-tracers.json
  scripts/lite/mainnet-new-tracing-all-tracers.sh
  scripts/lite/mainnet-new-tracing.sh
  scripts/lite/mainnet-with-all-tracers.sh
  scripts/lite/mainnet.sh
  scripts/lite/membench-new-tracing-all-tracers.sh
  scripts/lite/membench-old-tracing.sh
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops

trace-dispatcher: with symbols for namespaces
  trace-dispatcher/bench/trace-dispatcher-bench.hs
  trace-dispatcher/examples/Examples/DataPoint.hs
  trace-dispatcher/src/Cardano/Logging/Configuration.hs
  trace-dispatcher/src/Cardano/Logging/DocuGenerator.hs
  trace-dispatcher/src/Cardano/Logging/Formatter.hs
  trace-dispatcher/src/Cardano/Logging/Trace.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/Composed.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/DataPoint.hs
  trace-dispatcher/src/Cardano/Logging/Types.hs
  trace-dispatcher/src/Control/Tracer/Arrow.hs
  trace-dispatcher/test/Cardano/Logging/Test/Oracles.hs
  trace-dispatcher/trace-dispatcher.cabal
Owners: @deepfire, @denisshevchenko, @jutaro

cardano-node: with symbols for namespaces
  cardano-node/src/Cardano/Node/Tracing/Tracers/BlockReplayProgress.hs
Owners: @deepfire, @denisshevchenko, @jutaro

trace-dispatcher: doc generation
  doc/new-tracing/tracers_doc_generated.md
Owners: @docs-access

trace-dispatcher: doc generation fixes
  doc/new-tracing/tracers_doc_generated_old2.md
Owners: @docs-access

trace-dispatcher: doc generation fixes 2
  doc/new-tracing/tracers_doc_generated.md
Owners: @docs-access

cardano-node: added forgeThreadStats docu.
  doc/new-tracing/tracers_doc_generated.md
Owners: @docs-access

trace-dispatcher: DocuGenerator changes for symbols
  trace-dispatcher/src/Cardano/Logging/DocuGenerator.hs
Owners: @deepfire, @denisshevchenko, @jutaro

Update network changes after dep bump Co-authored-by: Marcin Szamotulski <coot@coot.me>
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/NodeToNode.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  bench/tx-generator/src/Cardano/Benchmarking/OuroborosImports.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops, @coot

Update tracing events and prevent elision for pipelining
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

FOR TESTING - node with updated ledger
  cabal.project
  cardano-api/src/Cardano/Api/Query.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Testing slot bound conversion issue.
  cabal.project
  cardano-api/src/Cardano/Api/Query.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

workbench: automation improvements all over the place
  Makefile
  bench/locli/src/Cardano/Analysis/Context.hs
  bench/locli/src/Cardano/Analysis/Run.hs
  bench/locli/src/Cardano/Command.hs
  bench/locli/src/Cardano/Util.hs
  nix/workbench/genesis.sh
  nix/workbench/lib-cabal.sh
  nix/workbench/lib.jq
  nix/workbench/lib.sh
  nix/workbench/manifest.sh
  nix/workbench/profile-run.jq
  nix/workbench/profile.sh
  nix/workbench/profiles/derived.jq
  nix/workbench/profiles/generator-service.nix
  nix/workbench/profiles/node-services.nix
  nix/workbench/profiles/profiles.jq
  nix/workbench/profiles/variants.jq
  nix/workbench/run.sh
  nix/workbench/scenario.sh
  nix/workbench/supervisor-run.nix
  nix/workbench/supervisor.sh
  nix/workbench/topology.sh
  nix/workbench/wb
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @devops

workbench: minor fixes
  Makefile
  nix/workbench/default.nix
  nix/workbench/wb
  shell.nix
Owners: @deepfire, @devops

DO NOT MERGE: added ghc options to cabal.project file
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Expose BabbageEra in Cardano.Api
  cardano-api/src/Cardano/Api.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Prevent return collateral from including reference scripts and datums
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Sync percentage fixed.
  cardano-node/src/Cardano/Node/Tracing/StateRep.hs
Owners: @deepfire, @denisshevchenko, @jutaro

Update dependencies
  cabal.project
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Eras.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Introduce ConsensusProtocol type family that gives the protocol in use for a particular era Introduce ConsensusCryptoForBlock type family that gives the crypto in use for a particular era
  cardano-api/src/Cardano/Api/Modes.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update network changes after dep bump Co-authored-by: Marcin Szamotulski <coot@coot.me>
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/NodeToNode.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  bench/tx-generator/src/Cardano/Benchmarking/OuroborosImports.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops, @coot

Update tracing events and prevent elision for pipelining
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Intoduce an additional constructor for LocalNodeClientParams to encompass the different requirements for the CardanoMode vs the single era modes.
  cardano-api/src/Cardano/Api/IPC.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update Protocol instances with the relevant constraints.
  cardano-api/src/Cardano/Api/Protocol/Types.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Introduce the protocol into the Block type
  cardano-api/src/Cardano/Api/Block.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update Cardano.Api.LedgerState/LedgerEvent with the new ShelleyBlock type
  cardano-api/src/Cardano/Api/LedgerEvent.hs
  cardano-api/src/Cardano/Api/LedgerState.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Implement orphan instances Propagate the new ShelleyBlock type in Cardano.Api.Query/InMode
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-api/src/Cardano/Api/Orphans.hs
  cardano-api/src/Cardano/Api/Query.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Implement various orphan instances and propagate the new ShelleyBlock type in cardano-node
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-node/cardano-node.cabal
  cardano-node/src/Cardano/Node/Configuration/Logging.hs
  cardano-node/src/Cardano/Node/Queries.hs
  cardano-node/src/Cardano/Node/Startup.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Era/Shelley.hs
  cardano-node/src/Cardano/Node/Tracing/StateRep.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Startup.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops, @deepfire, @denisshevchenko, @jutaro

Propagate new ShelleyBlock type in cardano-cli
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Re-enable development eras configuration flag so we can hardfork to Babbage without advertising that we know about Babbage
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-node/src/Cardano/Node/Configuration/POM.hs
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
  cardano-node/src/Cardano/Node/Protocol/Shelley.hs
  cardano-node/src/Cardano/Node/Types.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update mkfiles.sh to allow hardforking directly to Babbage
  scripts/byron-to-alonzo/mkfiles.sh
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Implement Babbage cluster script
  scripts/babbage/mkfiles.sh
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Dep bump changes - need to merge with previous commits
  cardano-node/src/Cardano/Node/Tracing/Era/Shelley.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

TOSQUASH Fix typo in new Babbage npcTestEnableDevelopmentHardForkEras comment
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

TOSQUASH Fix Alonzo->Babbage trigger, it should be on 7 not 6
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Use append flag on tee command to prevent it from overwriting the previous change on /etc/nix/nix.conf
  doc/getting-started/building-the-node-using-nix.md
Owners: @docs-access

Fixed typo
  doc/getting-started/building-the-node-using-nix.md
Owners: @docs-access

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                       David          Duncan   Jordan     Erik   John      Nick Jared
*                       @DavidEichmann @dcoutts @Jimbo4350 @erikd @newhoggy @nc6 @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine
nix/supervisord-cluster                                       @deepfire @denisshevchenko @jutaro @MarcFontaine
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro
trace-forward                                                 @deepfire @denisshevchenko @jutaro
trace-resources                                               @deepfire @denisshevchenko @jutaro
Makefile                                                      @deepfire

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops
