Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @cleverca22, @devops, @coot

Reduce number of BFT nodes and increase double the slot length in kes-period-info test
  cardano-testnet/test/Spec/Cli/KesPeriodInfo.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Reduce number of BFT nodes and increase double the slot length in kes-period-info test
  cardano-testnet/test/Spec/Cli/KesPeriodInfo.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add reference tx inputs to cardano-api
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Propagate reference txin api type through cardano-cli
  cardano-cli/src/Cardano/CLI/Byron/Tx.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

tx-generator: add txInsReference = TxInsReferenceNone
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SizedMetadata.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Tx.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

Fix scripts/byron-to-alonzo/mkfiles.sh script to work on new versions of cardano-cli which do not create an alonzo genesis file
  scripts/byron-to-alonzo/mkfiles.sh
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update errors to indicate where the consensus Babbage era is required.
  cardano-api/src/Cardano/Api/Block.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-api/src/Cardano/Api/Modes.hs
  cardano-api/src/Cardano/Api/Query.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update several functions in Cardano.Api.Fees to fully work in the Babbage era
  cardano-api/src/Cardano/Api/Fees.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add various conversion functions between cardano-api types and cardano-ledger types for reference scripts
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/ScriptData.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add roundtrip test for ReferenceScript JSON instance and include ReferenceScript generator in the tx out generator to increase test coverage
  cardano-api/gen/Gen/Cardano/Api/Typed.hs
  cardano-api/test/Test/Cardano/Api/Json.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Revert "Reduce number of BFT nodes and increase double the slot length in kes-period-info test"
  cardano-testnet/test/Spec/Cli/KesPeriodInfo.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Increase slot length in ShutdownOnSlotSynced test and shelley chairman tests
  cardano-node-chairman/test/Spec/Chairman/Shelley.hs
  cardano-testnet/src/Testnet/Shelley.hs
  cardano-testnet/test/Spec/ShutdownOnSlotSynced.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

refactor: make renderScriptWitnessIndex output more explicit
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Delete unused constraints.
  cardano-node/src/Cardano/Node/TraceConstraints.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Remove unused package
  cardano-api/cardano-api.cabal
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Remove constraints
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Consensus dep bump
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

WIP
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @devops, @coot

Finished updating network changes
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/NodeToNode.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @devops, @coot, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update network changes after dep bump Co-authored-by: Marcin Szamotulski <coot@coot.me>
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/NodeToNode.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops, @coot

Update tracing events and prevent elision for pipelining
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

cardano-node: Remove unused constraints from TraceConstraints
  cardano-node/src/Cardano/Node/TraceConstraints.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Consensus.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro

Make sure node compiles with latest ledger+consensus
  cabal.project
  cardano-api/src/Cardano/Api/Query.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro, @devops, @coot

Add "--tx-in-reference" option to build-raw and build cli commands.
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add "--reference-script-file" option to build and build-raw commands
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
  cardano-cli/src/Cardano/CLI/Types.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add "--tx-out-inline-datum" option to build and build-raw cli commands
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
  cardano-cli/src/Cardano/CLI/Types.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add "--tx-total-collateral" to build and build-raw cli commands
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add "--tx-out-return-collateral" to build and build-raw cli commands
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Fix cardano-node-edge test
  nix/nixos/tests/cardano-node-edge.nix
Owners: @devops

Debug
  nix/nixos/tests/cardano-node-edge.nix
Owners: @devops

Extend deserialiseFromRawBytesHex to produce error description
  cardano-api/src/Cardano/Api/SerialiseRaw.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Use updated deserialiseFromRawBytesHex
  bench/tx-generator/src/Cardano/Benchmarking/PlutusExample.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Utils.hs
  cardano-api/src/Cardano/Api/Value.hs
  cardano-api/src/Cardano/Api/ValueParser.hs
  cardano-cli/src/Cardano/CLI/Byron/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Key.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Simplify code using Parsec
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Create Dadan2
  Dadan2
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

updating to recent ledger
  cabal.project
  cardano-api/src/Cardano/Api/Query.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

cardano-cli: Add friendly printing of script data for tx outputs (Alonzo)
  cardano-cli/src/Cardano/CLI/Run/Friendly.hs
  cardano-cli/test/Test/Golden/TxView.hs
  cardano-cli/test/data/golden/alonzo/transaction-view.out
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Fix .stylish-haskell.yaml: recent version of stylish-haskell drops support of NoImplicitPrelude
  .stylish-haskell.yaml
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Encode strings to 0x-base16 in scriptDataToJson and then decode them back in friendly printer
  cardano-cli/src/Cardano/CLI/Run/Friendly.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Use syb for recursive Aeson.Value traversal
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/Run/Friendly.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Fix typo in tx metadata doc
  doc/reference/tx-metadata.md
Owners: @docs-access

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                       David          Duncan   Jordan     Erik   John      Nick Jared
*                       @DavidEichmann @dcoutts @Jimbo4350 @erikd @newhoggy @nc6 @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine
nix/supervisord-cluster                                       @deepfire @denisshevchenko @jutaro @MarcFontaine
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro
trace-forward                                                 @deepfire @denisshevchenko @jutaro
trace-resources                                               @deepfire @denisshevchenko @jutaro
Makefile                                                      @deepfire

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops
