Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @docs-access, @devops

CODEOWNERS:

# General reviewers per PR
#                       Duncan   Jordan     Luke       Erik   Thomas   John
*                       @dcoutts @Jimbo4350 @intricate @erikd @mrBliss @newhoggy

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence

# /doc folder and README.* needs to be owned by @docs-access
doc                          @docs-access
README.*                     @docs-access

.buildkite                   @devops
ci                           @devops
configuration                @devops
nix                          @devops
*.nix                        @devops
bors.toml                    @devops

Remove tasty-discover
  cardano-node-chairman/cardano-node-chairman.cabal
  cardano-node-chairman/test/Main.hs
  cardano-node-chairman/test/Spec.hs
  nix/haskell.nix
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @devops

Typo in ttl calculation
  doc/stake-pool-operations/simple_transaction.md
Owners: @docs-access

Add SerialiseAsRawBytes instances for PolicyId and AssetName
  cardano-api/src/Cardano/Api/Value.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Fix HLint
  cardano-api/src/Cardano/Api/Value.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Upgrade to ghc-8.10.3 in Github Actions CI
  .github/workflows/haskell.yml
  cabal.project
  nix/sources.json
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @devops

Remove build related retries
  .github/workflows/haskell.yml
  cabal.project
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Stuff
  cabal.project
  nix/sources.json
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @devops

Add ByronKeyLegacy tag, implement IsByronLegacyFormat type class and ByronKeyFormat GADT in order to differentiate between Byron legacy and non-legacy key serialization formats
  cardano-api/src/Cardano/Api/KeysByron.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Propagate the updated functions throughout cardano-api Expose helper functions
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Byron.hs
  cardano-api/src/Cardano/Api/Tx.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Typed.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add deserialisation tests for Byron key API
  cardano-cli/test/Test/Golden/Byron/SigningKeys.hs
  cardano-cli/test/Test/Golden/Byron/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update byron cli commands in cardano-node-chairman
  cardano-node-chairman/src/Testnet/Byron.hs
  cardano-node-chairman/src/Testnet/ByronShelley.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update Byron CLI key related commands with cardano-api
  cardano-api/src/Cardano/Api/Byron.hs
  cardano-api/src/Cardano/Api/KeysByron.hs
  cardano-api/src/Cardano/Api/SpecialByron.hs
  cardano-cli/src/Cardano/CLI/Byron/Commands.hs
  cardano-cli/src/Cardano/CLI/Byron/Delegation.hs
  cardano-cli/src/Cardano/CLI/Byron/Genesis.hs
  cardano-cli/src/Cardano/CLI/Byron/Key.hs
  cardano-cli/src/Cardano/CLI/Byron/Parsers.hs
  cardano-cli/src/Cardano/CLI/Byron/Run.hs
  cardano-cli/src/Cardano/CLI/Byron/Tx.hs
  cardano-cli/src/Cardano/CLI/Byron/UpdateProposal.hs
  cardano-cli/src/Cardano/CLI/Byron/Vote.hs
  cardano-cli/src/Cardano/CLI/Helpers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Key.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Key.hs
  cardano-node/src/Cardano/Node/Protocol/Byron.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update nix derivations and scripts
  nix/cardanolib-py/cardanolib.py
  nix/supervisord-cluster/hfc/default.nix
  scripts/byron-to-mary/mkfiles.sh
  scripts/byron-to-shelley/mkfiles.sh
Owners: @devops, @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Review fixes Remove ability to generate password protected Byron keys
  README.rst
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Byron.hs
  cardano-api/src/Cardano/Api/KeysByron.hs
  cardano-api/src/Cardano/Api/Tx.hs
  cardano-cli/src/Cardano/CLI/Byron/Commands.hs
  cardano-cli/src/Cardano/CLI/Byron/Key.hs
  cardano-cli/src/Cardano/CLI/Byron/Parsers.hs
  cardano-cli/src/Cardano/CLI/Byron/Run.hs
  cardano-cli/src/Cardano/CLI/Byron/Tx.hs
  cardano-node-chairman/src/Testnet/ByronShelley.hs
  scripts/byron-to-mary/mkfiles.sh
  scripts/byron-to-shelley/mkfiles.sh
Owners: @docs-access, @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Improve queryNodeLocalState by making the point opional
  cardano-api/src/Cardano/Api/IPC.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Clarify the types of the IPC protocols to use
  cardano-api/src/Cardano/Api/IPC.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update shelley tx submission with cardano-api IPC
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Modes.hs
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Rebase on master and update Byron signing key serialisation tests Review fixes
  cardano-api/src/Cardano/Api/Byron.hs
  cardano-api/src/Cardano/Api/KeysByron.hs
  cardano-api/src/Cardano/Api/SpecialByron.hs
  cardano-api/src/Cardano/Api/Tx.hs
  cardano-cli/src/Cardano/CLI/Byron/Delegation.hs
  cardano-cli/src/Cardano/CLI/Byron/Key.hs
  cardano-cli/src/Cardano/CLI/Byron/Run.hs
  cardano-cli/src/Cardano/CLI/Byron/Tx.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Key.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
  cardano-cli/test/Test/Golden/Byron/SigningKeys.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Build and publish haddocks to Github Pages.
  .github/workflows/github-page.yml
  .gitignore
  cabal.project.local.github-pages
  cardano-node-chairman/app/Cardano/Chairman/Commands/Run.hs
  cardano-node-chairman/src/Test/Base.hs
  scripts/haddocs.sh
  scripts/prolog
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Fix haddock publishing
  scripts/haddocs.sh
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Fix haddock publishing
  .github/workflows/github-page.yml
  scripts/haddocs.sh
  scripts/prolog
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add ledger state query to new api
  cardano-api/src/Cardano/Api/Query.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Publish haddocks on master only. Add link to online API docs from README with build instructions. Fix presentation of links in README.
  .github/workflows/github-page.yml
  README.rst
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @docs-access

Revert "Revert "CAD-2166 logging: move all metrics to 'cardano.node.metrics'""
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

CAD-2477 log config: node-metrics is now node.metrics
  configuration/chairman/byron-shelley/configuration.yaml
  configuration/chairman/shelly-only/configuration.yaml
  configuration/defaults/byron-mainnet/configuration.yaml
  configuration/defaults/byron-staging/configuration.yaml
  configuration/defaults/byron-testnet/configuration.yaml
  configuration/defaults/mainnet-via-fetcher/configuration.yaml
  doc/getting-started/understanding-config-files.md
  scripts/lite/configuration/shelley-1.yaml
  scripts/lite/configuration/shelley-2.yaml
  scripts/lite/configuration/shelley-3.yaml
Owners: @devops, @docs-access

CAD-2477 log config: cardano.node.metrics is all metrics now
  configuration/chairman/byron-shelley/configuration.yaml
  configuration/chairman/defaults/simpleview/config-0.yaml
  configuration/chairman/defaults/simpleview/config-1.yaml
  configuration/chairman/defaults/simpleview/config-2.yaml
  configuration/chairman/shelly-only/configuration.yaml
  configuration/defaults/byron-mainnet/configuration.yaml
  configuration/defaults/byron-staging/configuration.yaml
  configuration/defaults/byron-testnet/configuration.yaml
  configuration/defaults/mainnet-via-fetcher/configuration.yaml
  configuration/defaults/simpleview/config-0.yaml
  configuration/defaults/simpleview/config-1.yaml
  configuration/defaults/simpleview/config-2.yaml
  doc/getting-started/understanding-config-files.md
  scripts/lite/configuration/shelley-1.yaml
  scripts/lite/configuration/shelley-2.yaml
  scripts/lite/configuration/shelley-3.yaml
Owners: @devops, @docs-access

CAD-2477 log config: cardano.epoch-validation.utxo-stats is no more
  configuration/chairman/defaults/simpleview/config-0.yaml
  configuration/chairman/defaults/simpleview/config-1.yaml
  configuration/chairman/defaults/simpleview/config-2.yaml
  configuration/defaults/byron-staging/configuration.yaml
  configuration/defaults/byron-testnet/configuration.yaml
  configuration/defaults/mainnet-via-fetcher/configuration.yaml
  configuration/defaults/simpleview/config-0.yaml
  configuration/defaults/simpleview/config-1.yaml
  configuration/defaults/simpleview/config-2.yaml
  doc/getting-started/understanding-config-files.md
Owners: @devops, @docs-access

CAD-2477 logging: move BlockFetchDecisions.connectedPeers into metrics as well
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Remove obsolete metrics mappings from config files
  configuration/cardano/mainnet-config.json
  configuration/cardano/shelley_qa-config.json
  configuration/chairman/byron-shelley/configuration.yaml
  configuration/chairman/defaults/simpleview/config-0.yaml
  configuration/chairman/defaults/simpleview/config-1.yaml
  configuration/chairman/defaults/simpleview/config-2.yaml
  configuration/defaults/byron-staging/configuration.yaml
  configuration/defaults/byron-testnet/configuration.yaml
  configuration/defaults/mainnet-via-fetcher/configuration.yaml
  configuration/defaults/simpleview/config-0.yaml
  configuration/defaults/simpleview/config-1.yaml
  configuration/defaults/simpleview/config-2.yaml
  doc/getting-started/understanding-config-files.md
  scripts/lite/configuration/shelley-1.yaml
  scripts/lite/configuration/shelley-2.yaml
  scripts/lite/configuration/shelley-3.yaml
Owners: @devops, @docs-access

Update iohk-nix for metrics mapping cleanup.
  nix/sources.json
Owners: @devops

Update dependencies
  cabal.project
  cardano-cli/src/Cardano/CLI/Shelley/Orphans.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-node/src/Cardano/Node/Configuration/Logging.hs
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
  cardano-node/src/Cardano/Node/Query.hs
  cardano-node/src/Cardano/Tracing/Config.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
  nix/sources.json
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @devops

niv update haskell.nix
  nix/sources.json
Owners: @devops

Add protocol state query to new api
  cardano-api/src/Cardano/Api/Query.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

niv update haskell.nix to fix isProject
  cabal.project
  nix/sources.json
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @devops

Update dependencies
  cabal.project
  cardano-cli/src/Cardano/CLI/Shelley/Orphans.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-node/src/Cardano/Node/Configuration/Logging.hs
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
  cardano-node/src/Cardano/Node/Query.hs
  cardano-node/src/Cardano/Tracing/Config.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
  nix/sources.json
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @devops

Minor hlint tweak
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update dependencies
  cabal.project
  cardano-cli/src/Cardano/CLI/Shelley/Orphans.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-node/src/Cardano/Node/Configuration/Logging.hs
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
  cardano-node/src/Cardano/Node/Query.hs
  cardano-node/src/Cardano/Tracing/Config.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
  nix/sources.json
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @devops

niv update haskell.nix to fix isProject
  cabal.project
  nix/sources.json
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @devops
