Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @mgmeier, @cleverca22, @devops, @coot

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                        Duncan   Jordan     Erik   John      Jared
*                        @dcoutts @Jimbo4350 @erikd @newhoggy @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro @mgmeier
trace-forward                                                 @deepfire @denisshevchenko @jutaro @mgmeier
trace-resources                                               @deepfire @denisshevchenko @jutaro @mgmeier
Makefile                                                      @deepfire @mgmeier
*.mk                                                          @deepfire @mgmeier

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops

Updated PR reference for dependency update
  cardano-node/ChangeLog.md
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Fix building of Alonzo transaction in Babbage era.
  cardano-api/src/Cardano/Api/ProtocolParameters.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Release 1.35.2 Adding version 1.35.2 Adding change logs, and updating versions in cabal files, for 1.35.2
  bench/cardano-topology/cardano-topology.cabal
  cabal.project
  cardano-api/ChangeLog.md
  cardano-api/cardano-api.cabal
  cardano-cli/ChangeLog.md
  cardano-cli/cardano-cli.cabal
  cardano-node-chairman/cardano-node-chairman.cabal
  cardano-node/ChangeLog.md
  cardano-node/cardano-node.cabal
  cardano-submit-api/CHANGELOG.md
  cardano-testnet/cardano-testnet.cabal
  docker-compose.yml
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @devops

Expose toTxOutInAnyEra and readProtocolParametersSourceSpec from cardano-cli
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Updated ouroboros-network dependency
  cabal.project
  cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro, @coot, @devops

Allow transaction build command to build a transaction for era other than the current era.
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/EraCast.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/Summon.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Remove Summon type class and modify EraCast type class
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/EraCast.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/Summon.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Script ToJSON instances serialises the full script
  cardano-api/src/Cardano/Api/Orphans.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

cardano-tracer: refactoring
  cardano-tracer/bench/cardano-tracer-bench.hs
  cardano-tracer/cardano-tracer.cabal
  cardano-tracer/src/Cardano/Tracer/Acceptors/Client.hs
  cardano-tracer/src/Cardano/Tracer/Acceptors/Run.hs
  cardano-tracer/src/Cardano/Tracer/Acceptors/Server.hs
  cardano-tracer/src/Cardano/Tracer/Acceptors/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Environment.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/Logs/Rotator.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/Logs/TraceObjects.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/Metrics/Servers.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Run.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Charts.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Body.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Main.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/HTML/Notifications.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/UI/Notifications.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/EKG.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/EraSettings.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Errors.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Historical.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/KES.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/NodeInfo.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/NodeState.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Nodes.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Peers.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Reload.hs
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Utils.hs
  cardano-tracer/src/Cardano/Tracer/Run.hs
  cardano-tracer/src/Cardano/Tracer/Utils.hs
  cardano-tracer/test/Cardano/Tracer/Test/Acceptor.hs
Owners: @deepfire, @denisshevchenko

trace-dispatcher: with symbols for namespaces
  trace-dispatcher/bench/trace-dispatcher-bench.hs
  trace-dispatcher/examples/Examples/DataPoint.hs
  trace-dispatcher/src/Cardano/Logging/Configuration.hs
  trace-dispatcher/src/Cardano/Logging/DocuGenerator.hs
  trace-dispatcher/src/Cardano/Logging/Formatter.hs
  trace-dispatcher/src/Cardano/Logging/Trace.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/Composed.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/DataPoint.hs
  trace-dispatcher/src/Cardano/Logging/Types.hs
  trace-dispatcher/src/Control/Tracer/Arrow.hs
  trace-dispatcher/test/Cardano/Logging/Test/Oracles.hs
  trace-dispatcher/trace-dispatcher.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @mgmeier

trace-dispatcher: update with symbols
  trace-dispatcher/src/Cardano/Logging/Configuration.hs
  trace-dispatcher/src/Cardano/Logging/ConfigurationParser.hs
  trace-dispatcher/src/Cardano/Logging/DocuGenerator.hs
  trace-dispatcher/src/Cardano/Logging/Formatter.hs
  trace-dispatcher/src/Cardano/Logging/Trace.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/Composed.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @mgmeier

nix: with profiling
  nix/workbench/lib-cabal.sh
Owners: @devops

trace-dispatcher: DocuGenerator changes for symbols
  trace-dispatcher/src/Cardano/Logging/DocuGenerator.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @mgmeier

cardano-node: with symbols for namespaces
  cardano-node/src/Cardano/Node/Tracing/Tracers/BlockReplayProgress.hs
Owners: @deepfire, @denisshevchenko, @jutaro

Added FromJSON instance for 'EraInMode BabbageEra CardanoMode'
  cardano-api/src/Cardano/Api/Modes.hs
  cardano-api/test/Test/Cardano/Api/Json.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Tidy up
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/EraCast.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Update build command to automatically calculate the total and return collateral values when they are not explicitly specified via the cli
  cardano-api/src/Cardano/Api/Fees.hs
  cardano-cli/src/Cardano/CLI/Run/Friendly.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
  cardano-cli/test/data/golden/allegra/transaction-view.out
  cardano-cli/test/data/golden/alonzo/signed-transaction-view.out
  cardano-cli/test/data/golden/alonzo/transaction-view.out
  cardano-cli/test/data/golden/byron/transaction-view.out
  cardano-cli/test/data/golden/mary/transaction-view.out
  cardano-cli/test/data/golden/shelley/transaction-view.out
  scripts/babbage/example-babbage-script-usage.sh
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

More memory efficient query ledger-state command
  cabal.project
  cardano-api/src/Cardano/Api/Orphans.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

tx-generator: bug fix
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

tx-generator: rename some log messages.
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  bench/tx-generator/src/Cardano/Benchmarking/LogTypes.hs
  bench/tx-generator/src/Cardano/Benchmarking/TpsThrottle.hs
  bench/tx-generator/src/Cardano/Benchmarking/Tracer.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

Fix byron-to-alonzo.sh
  scripts/byron-to-alonzo/mkfiles.sh
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Reverting executable links back to node-version 1.34.1
  README.rst
Owners: @docs-access

Added FromJSON instance for 'EraInMode BabbageEra CardanoMode'
  cardano-api/src/Cardano/Api/Modes.hs
  cardano-api/test/Test/Cardano/Api/Json.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

update ledger to the tip of release/1.0.0
  bench/cardano-topology/cardano-topology.cabal
  cabal.project
  cardano-api/ChangeLog.md
  cardano-api/cardano-api.cabal
  cardano-cli/ChangeLog.md
  cardano-cli/cardano-cli.cabal
  cardano-node-chairman/cardano-node-chairman.cabal
  cardano-node/ChangeLog.md
  cardano-node/cardano-node.cabal
  cardano-submit-api/CHANGELOG.md
  cardano-testnet/cardano-testnet.cabal
  docker-compose.yml
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @devops

haskell.nix: don't build locli on windows and musl
  nix/haskell.nix
Owners: @devops

locli: generaise & simplify ground file types through phantoms
  bench/locli/src/Cardano/Analysis/Ground.hs
  bench/locli/src/Cardano/Analysis/Run.hs
  bench/locli/src/Cardano/Command.hs
  bench/locli/src/Cardano/Util.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

workbench: ci-test-dense10 profiles
  Makefile
  nix/workbench/profiles/prof1-variants.jq
Owners: @deepfire, @mgmeier, @devops

workbench: fix AWS fetching
  nix/workbench/lib.sh
  nix/workbench/run.sh
Owners: @devops

locli: report templating
  bench/locli/locli.cabal
  bench/locli/src/Cardano/Analysis/API.hs
  bench/locli/src/Cardano/Analysis/Context.hs
  bench/locli/src/Cardano/Analysis/Ground.hs
  bench/locli/src/Cardano/Analysis/Run.hs
  bench/locli/src/Cardano/Command.hs
  bench/locli/src/Cardano/Report.hs
  nix/workbench/analyse.sh
  nix/workbench/ede/chart.ede
  nix/workbench/ede/manifest.ede
  nix/workbench/ede/report.ede
  nix/workbench/ede/table.ede
  nix/workbench/run.sh
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22, @devops

locli: disable on windows (thank you a lot @hamishmack for analysis and solution !)
  bench/locli/locli.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

Added FromJSON instance for 'EraInMode BabbageEra CardanoMode'
  cardano-api/src/Cardano/Api/Modes.hs
  cardano-api/test/Test/Cardano/Api/Json.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

tx-generator cleanups
  bench/tx-generator/src/Cardano/Benchmarking/PlutusExample.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

breakup `ToUTxO` add `ToUTxOList`
  bench/tx-generator/src/Cardano/Benchmarking/PlutusExample.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

Correction of <= to >=
  doc/reference/simple-scripts.md
Owners: @docs-access

Remove configurability of TestEnableDevelopmentNetworkProtocols in cardano testnet
  cardano-testnet/src/Testnet/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Add isLinux to Test.Base
  cardano-testnet/src/Test/Base.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Export wallets
  cardano-testnet/src/Testnet/Babbage.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Babbage testnet
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/testnet/Testnet/Commands.hs
  cardano-testnet/testnet/Testnet/Commands/Babbage.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Remove NoImplicitPrelude from .stylish-haskell.yml
  .stylish-haskell.yaml
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Add key pairs to testnet runtime.
  cardano-testnet/src/Test/Runtime.hs
  cardano-testnet/src/Testnet/Babbage.hs
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/test/Main.hs
  cardano-testnet/testnet/Testnet/Commands/Cardano.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan
