Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @cleverca22, @devops, @coot

workbench: filter out the `exprType TYPE` noise during prebuild
  nix/workbench/lib-cabal.sh
Owners: @devops

workbench: adapt to the genesis changes in cardano-cli
  nix/workbench/genesis.sh
Owners: @devops

workbench: assorted small fixes
  nix/workbench/profile.sh
  nix/workbench/profiles/variants.jq
  nix/workbench/run.sh
  nix/workbench/wb
Owners: @devops

locli: componentise analyses
  bench/locli/locli.cabal
  bench/locli/src/Cardano/Analysis/API.hs
  bench/locli/src/Cardano/Analysis/BlockProp.hs
  bench/locli/src/Cardano/Analysis/Chain.hs
  bench/locli/src/Cardano/Analysis/ChainFilter.hs
  bench/locli/src/Cardano/Analysis/Driver.hs
  bench/locli/src/Cardano/Analysis/Ground.hs
  bench/locli/src/Cardano/Analysis/MachTimeline.hs
  bench/locli/src/Cardano/Analysis/Run.hs
  bench/locli/src/Cardano/Analysis/Version.hs
  bench/locli/src/Cardano/Command.hs
  bench/locli/src/Cardano/Unlog/Render.hs
  bench/locli/src/Cardano/Util.hs
  bench/locli/src/Data/Distribution.hs
  nix/workbench/analyse.sh
  nix/workbench/chain-filters/size-0.6.json
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @devops

workbench: make genesis cache keying perfectly match genesis generator
  nix/workbench/genesis.sh
  nix/workbench/profile.sh
  nix/workbench/profiles/derived.jq
  nix/workbench/profiles/genesis.jq
Owners: @devops

locli: ignore dense_pool_density and n_pools for now; misc compat
  bench/locli/src/Cardano/Analysis/Run.hs
  nix/workbench/backend.sh
  nix/workbench/run.sh
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @devops

workbench: forge-stress profiles & target
  Makefile
  nix/workbench/profiles/variants.jq
Owners: @deepfire, @devops

locli: massive cleanups
  bench/locli/app/locli.hs
  bench/locli/locli.cabal
  bench/locli/src/Cardano/Analysis/API.hs
  bench/locli/src/Cardano/Analysis/BlockProp.hs
  bench/locli/src/Cardano/Analysis/Chain.hs
  bench/locli/src/Cardano/Analysis/ChainFilter.hs
  bench/locli/src/Cardano/Analysis/Context.hs
  bench/locli/src/Cardano/Analysis/Driver.hs
  bench/locli/src/Cardano/Analysis/Ground.hs
  bench/locli/src/Cardano/Analysis/MachTimeline.hs
  bench/locli/src/Cardano/Analysis/Run.hs
  bench/locli/src/Cardano/Command.hs
  bench/locli/src/Cardano/Unlog/Commands.hs
  bench/locli/src/Cardano/Unlog/LogObject.hs
  bench/locli/src/Cardano/Unlog/Parsers.hs
  bench/locli/src/Cardano/Unlog/Run.hs
  nix/workbench/analyse.sh
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @devops

workbench: reduce stuffed UTxO by the sum of generated & delegated UTxO
  nix/workbench/profiles/cli-args.jq
  nix/workbench/profiles/derived.jq
Owners: @devops

tx-generator remove legacy mode
  nix/nixos/tx-generator-service.nix
Owners: @devops

quickfix tx-generator-service.nix
  nix/nixos/tx-generator-service.nix
Owners: @devops

locli: cumulative population column
  bench/locli/src/Cardano/Analysis/BlockProp.hs
  bench/locli/src/Cardano/Analysis/MachTimeline.hs
  bench/locli/src/Cardano/Unlog/Render.hs
  bench/locli/src/Data/Distribution.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

locli: rewrite monolithic analysis commands as uop chains
  bench/locli/src/Cardano/Analysis/BlockProp.hs
  bench/locli/src/Cardano/Analysis/Driver.hs
  bench/locli/src/Cardano/Analysis/Ground.hs
  bench/locli/src/Cardano/Analysis/Run.hs
  bench/locli/src/Cardano/Command.hs
  bench/locli/src/Cardano/Util.hs
  nix/workbench/analyse.sh
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @devops

locli: componentise block-propagation
  bench/locli/src/Cardano/Analysis/BlockProp.hs
  bench/locli/src/Cardano/Analysis/Driver.hs
  bench/locli/src/Cardano/Analysis/Ground.hs
  bench/locli/src/Cardano/Unlog/LogObject.hs
  bench/locli/src/Cardano/Unlog/Render.hs
  nix/workbench/analyse.sh
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @devops

workbench: shelley genesis fixes
  nix/workbench/genesis.sh
  nix/workbench/profiles/defaults.jq
  nix/workbench/profiles/derived.jq
Owners: @devops

locli: drop legacy code paths
  bench/locli/app/locli.hs
  bench/locli/locli.cabal
  bench/locli/src/Cardano/Analysis/BlockProp.hs
  bench/locli/src/Cardano/Analysis/ChainFilter.hs
  bench/locli/src/Cardano/Analysis/Context.hs
  bench/locli/src/Cardano/Analysis/Driver.hs
  bench/locli/src/Cardano/Analysis/MachTimeline.hs
  bench/locli/src/Cardano/Analysis/Run.hs
  bench/locli/src/Cardano/Command.hs
  bench/locli/src/Cardano/TopHandler.hs
  bench/locli/src/Cardano/Unlog/LogObject.hs
  bench/locli/src/Cardano/Util.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

workbench: update towards the new locli CLI
  bench/locli/src/Cardano/Command.hs
  nix/workbench/analyse.sh
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @devops

locli: distribution subsetting
  bench/locli/src/Cardano/Analysis/API.hs
  bench/locli/src/Cardano/Analysis/Driver.hs
  bench/locli/src/Cardano/Unlog/Render.hs
  bench/locli/src/Data/Distribution.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

Update dependencies
  cabal.project
  cardano-api/src/Cardano/Api/Eras.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update network changes after dep bump Co-authored-by: Marcin Szamotulski <coot@coot.me>
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/NodeToNode.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  bench/tx-generator/src/Cardano/Benchmarking/OuroborosImports.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops, @coot

Introduce ConsensusProtocol type family that gives the protocol in use for a particular era Introduce ConsensusCryptoForBlock type family that gives the crypto in use for a particular era
  cardano-api/src/Cardano/Api/Modes.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update tracing events and prevent elision for pipelining
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Intoduce an additional constructor for LocalNodeClientParams to encompass the different requirements for the CardanoMode vs the single era modes.
  cardano-api/src/Cardano/Api/IPC.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Introduce the protocol into the Block type
  cardano-api/src/Cardano/Api/Block.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update Protocol instances with the relevant constraints.
  cardano-api/src/Cardano/Api/Protocol/Types.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Implement orphan instances Propagate the new ShelleyBlock type in Cardano.Api.Query/InMode
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-api/src/Cardano/Api/Orphans.hs
  cardano-api/src/Cardano/Api/Query.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update Cardano.Api.LedgerState/LedgerEvent with the new ShelleyBlock type
  cardano-api/src/Cardano/Api/LedgerEvent.hs
  cardano-api/src/Cardano/Api/LedgerState.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Propagate new ShelleyBlock type in cardano-cli
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Implement various orphan instances and propagate the new ShelleyBlock type in cardano-node
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-node/cardano-node.cabal
  cardano-node/src/Cardano/Node/Configuration/Logging.hs
  cardano-node/src/Cardano/Node/Queries.hs
  cardano-node/src/Cardano/Node/Startup.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Era/Shelley.hs
  cardano-node/src/Cardano/Node/Tracing/StateRep.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Startup.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops, @deepfire, @denisshevchenko, @jutaro

Re-enable development eras configuration flag so we can hardfork to Babbage without advertising that we know about Babbage
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-node/src/Cardano/Node/Configuration/POM.hs
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
  cardano-node/src/Cardano/Node/Protocol/Shelley.hs
  cardano-node/src/Cardano/Node/Types.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update mkfiles.sh to allow hardforking directly to Babbage
  scripts/byron-to-alonzo/mkfiles.sh
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Use ledger with latest address deserialization
  cabal.project
  flake.lock
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops

locli: timeline-chain-raw
  bench/locli/src/Cardano/Command.hs
  nix/workbench/analyse.sh
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @devops

locli: --host-from-log-filename
  bench/locli/src/Cardano/Analysis/Ground.hs
  bench/locli/src/Cardano/Command.hs
  bench/locli/src/Cardano/Unlog/LogObject.hs
  bench/locli/src/Cardano/Util.hs
  nix/workbench/analyse.sh
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @devops

trace-dispatcher: Fix Hyperlinks in generated docs
  doc/new-tracing/tracers_doc_generated.md
  trace-dispatcher/src/Cardano/Logging/DocuGenerator.hs
Owners: @docs-access, @deepfire, @denisshevchenko, @jutaro

workbench: trace future offset
  nix/workbench/genesis.sh
Owners: @devops

workbench: collect & store manifest & slight cleanups
  nix/workbench/backend.sh
  nix/workbench/manifest.sh
  nix/workbench/run.sh
  nix/workbench/supervisor.sh
  nix/workbench/wb
Owners: @devops

workbench: calculate future offset better
  nix/workbench/profiles/defaults.jq
  nix/workbench/profiles/derived.jq
Owners: @devops

workbench: more structure in derived profile calculations
  nix/workbench/genesis.sh
  nix/workbench/profiles/derived.jq
Owners: @devops

Use ledger without a recent bug: input-output-iohk/cardano-ledger#2771
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                       David          Duncan   Jordan     Erik   John      Nick Jared
*                       @DavidEichmann @dcoutts @Jimbo4350 @erikd @newhoggy @nc6 @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine
nix/supervisord-cluster                                       @deepfire @denisshevchenko @jutaro @MarcFontaine
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro
trace-forward                                                 @deepfire @denisshevchenko @jutaro
trace-resources                                               @deepfire @denisshevchenko @jutaro
Makefile                                                      @deepfire

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops
