Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @cleverca22, @devops, @coot

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                       David          Duncan   Jordan     Erik   John      Nick Jared
*                       @DavidEichmann @dcoutts @Jimbo4350 @erikd @newhoggy @nc6 @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine
nix/supervisord-cluster                                       @deepfire @denisshevchenko @jutaro @MarcFontaine
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro
trace-forward                                                 @deepfire @denisshevchenko @jutaro
trace-resources                                               @deepfire @denisshevchenko @jutaro
Makefile                                                      @deepfire

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops

Makefile: override node-measured attr to the current commit
  Makefile
Owners: @deepfire

membench: restructure parametrisation
  Makefile
  flake.nix
  nix/workbench/membench-batch-process.nix
  nix/workbench/membench-batch-report.nix
  nix/workbench/membench-batch.nix
  nix/workbench/membench-overlay.nix
  nix/workbench/membench-run.nix
Owners: @deepfire, @devops

Make configuration template in cardano-testnet configurable
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/src/Testnet/Conf.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Pass base and configurationTemplate as arguments to mkConf
  cardano-cli/test/Test/Config/Mainnet.hs
  cardano-node-chairman/cardano-node-chairman.cabal
  cardano-node-chairman/test/Spec/Chairman/Byron.hs
  cardano-node-chairman/test/Spec/Chairman/Cardano.hs
  cardano-node-chairman/test/Spec/Chairman/Shelley.hs
  cardano-node-chairman/testnet/Testnet/Run.hs
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Testnet/Conf.hs
  cardano-testnet/src/Testnet/Shelley.hs
  cardano-testnet/test/Spec/Plutus/Direct/CertifyingAndWithdrawingPlutus.hs
  cardano-testnet/test/Spec/Plutus/Direct/ScriptContextEquality.hs
  cardano-testnet/test/Spec/Plutus/Direct/ScriptContextEqualityMint.hs
  cardano-testnet/test/Spec/Plutus/Direct/TxInLockingPlutus.hs
  cardano-testnet/test/Spec/Plutus/Script/TxInLockingPlutus.hs
  cardano-testnet/test/Spec/Plutus/SubmitApi/TxInLockingPlutus.hs
  cardano-testnet/test/Spec/Shutdown.hs
  cardano-testnet/test/Spec/ShutdownOnSlotSynced.hs
  cardano-testnet/testnet/Testnet/Run.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

New ProjectBase and YamlFilePath newtypes
  cardano-node-chairman/test/Spec/Chairman/Byron.hs
  cardano-node-chairman/test/Spec/Chairman/Cardano.hs
  cardano-node-chairman/test/Spec/Chairman/Shelley.hs
  cardano-node-chairman/testnet/Testnet/Run.hs
  cardano-testnet/src/Testnet/Conf.hs
  cardano-testnet/src/Testnet/Shelley.hs
  cardano-testnet/test/Spec/Plutus/Direct/CertifyingAndWithdrawingPlutus.hs
  cardano-testnet/test/Spec/Plutus/Direct/ScriptContextEquality.hs
  cardano-testnet/test/Spec/Plutus/Direct/ScriptContextEqualityMint.hs
  cardano-testnet/test/Spec/Plutus/Direct/TxInLockingPlutus.hs
  cardano-testnet/test/Spec/Plutus/Script/TxInLockingPlutus.hs
  cardano-testnet/test/Spec/Shutdown.hs
  cardano-testnet/test/Spec/ShutdownOnSlotSynced.hs
  cardano-testnet/testnet/Testnet/Run.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

cardano-cli query kes-period-info: Always display metrics (#3627)
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

JSON format for leadership schedule
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/Output.hs
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Switch to use existing output file convention
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/Output.hs
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

bump flake.lock to latest versions
  flake.lock
Owners: @devops

Apply new topology syntax change in nixos service + new p2p defaults
  nix/nixos/cardano-node-service.nix
Owners: @devops

Apply new topology syntax change in nixos service + new p2p defaults
  nix/nixos/cardano-node-service.nix
Owners: @devops

nixos: add support for varying ipv6 host address
  nix/nixos/cardano-node-service.nix
Owners: @devops

trace-dispatcher: replace the prototype-based machinery with namespace enumeration
  trace-dispatcher/doc/trace-dispatcher.md
  trace-dispatcher/examples/Examples/Aggregation.hs
  trace-dispatcher/examples/Examples/Configuration.hs
  trace-dispatcher/examples/Examples/EKG.hs
  trace-dispatcher/examples/Examples/Routing.hs
  trace-dispatcher/examples/Examples/TestObjects.hs
  trace-dispatcher/src/Cardano/Logging/Configuration.hs
  trace-dispatcher/src/Cardano/Logging/DocuGenerator.hs
  trace-dispatcher/src/Cardano/Logging/Formatter.hs
  trace-dispatcher/src/Cardano/Logging/FrequencyLimiter.hs
  trace-dispatcher/src/Cardano/Logging/Trace.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/Composed.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/DataPoint.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/EKG.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/Forward.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/Standard.hs
  trace-dispatcher/src/Cardano/Logging/Types.hs
  trace-dispatcher/src/Cardano/Logging/Utils.hs
  trace-dispatcher/test/Cardano/Logging/Test/Messages.hs
  trace-dispatcher/test/Cardano/Logging/Test/Tracer.hs
Owners: @deepfire, @denisshevchenko, @jutaro

trace-resources: update
  trace-resources/src/Cardano/Logging/Resources/Types.hs
  trace-resources/test/trace-resources-test.hs
Owners: @deepfire, @denisshevchenko, @jutaro

cardano-node | tracing: factor the trace-dispatcher changes and the aeson bump
  cardano-node/src/Cardano/Node/Startup.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/BlockReplayProgress.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Consensus.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ForgingThreadStats.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/KESInfo.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Shutdown.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/StartLeadershipCheck.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Startup.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro, @coot

tracing: update documentation
  configuration/cardano/membench-config-new.yaml
  doc/New Tracing Quickstart.md
Owners: @devops, @docs-access

github: omit ekg-json and iohk-monitoring-framework from repository master branch checking
  .github/bin/check-git-dependencies
  .github/master-check-exceptions.list
Owners: @devops

workbench: a softer workbench-ci profile, since the current one doesn't fit nodes
  Makefile
  flake.nix
  nix/workbench/profiles/variants.jq
Owners: @deepfire, @devops

TxOutDatum: Add a TxOutDatumInline constructor for inline datums.
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/src/Cardano/CLI/Run/Friendly.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

stakeKey registration stake.skey witness not needed
  doc/stake-pool-operations/register_key.md
Owners: @docs-access

Pin secp256k1 to specific ref. Ensure GithubActions build. Update cardano-base
  .github/workflows/haskell.yml
  cabal.project
Owners: @devops, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add secp256k1 installation to github-pages
  .github/workflows/github-page.yml
Owners: @devops

Fix simple-minting-policy.sh. The asset name used was not hex encoded.
  scripts/plutus/simple-minting-policy.sh
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Check git dependencies exceptions
  .github/bin/check-git-dependencies
  .github/master-check-exceptions.list
Owners: @devops

Fix haddock builds
  .github/workflows/github-page.yml
Owners: @devops

node: review changes
  cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs
  trace-dispatcher/doc/trace-dispatcher.md
  trace-dispatcher/src/Cardano/Logging/DocuGenerator.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @coot

Update iohk-nix flake source
  flake.lock
Owners: @devops

Install secp256k1 on Windows in Github Actions
  .github/workflows/haskell.yml
Owners: @devops

Update dependencies: plutus, ledger and consensus
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update Cardano.Api.Era with the Babbage era
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update Cardano.Api.TxBody with Babbage era
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update Cardano.Api.ScriptData with Babbage era
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/ScriptData.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add Babbager era to Cardano.Api.Tx
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add Babbage era to Cardano.Api.TxInMode
  cardano-api/src/Cardano/Api/InMode.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update Cardano.Api.ProtocolParameters with the Babbage era
  cardano-api/src/Cardano/Api/ProtocolParameters.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add Babbage era to Cardano.Api.SerialiseLedgerCddl
  cardano-api/src/Cardano/Api/SerialiseLedgerCddl.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add Babbage era to Cardano.Api.Modes
  cardano-api/src/Cardano/Api/Modes.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Refactor record fields that have changed in ledger
  cardano-api/src/Cardano/Api/Orphans.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-client-demo/StakeCredentialHistory.hs
  cardano-node/src/Cardano/Node/Queries.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add Babbage era to Cardano.Api.InMode
  cardano-api/src/Cardano/Api/InMode.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add Babbage era to Cardano.Api.Query
  cardano-api/src/Cardano/Api/Query.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan
