Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @cleverca22, @devops, @coot

Update network changes after dep bump Co-authored-by: Marcin Szamotulski <coot@coot.me>
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/NodeToNode.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  bench/tx-generator/src/Cardano/Benchmarking/OuroborosImports.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops, @coot

Update dependencies
  cabal.project
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Eras.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update tracing events and prevent elision for pipelining
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Introduce the protocol into the Block type
  cardano-api/src/Cardano/Api/Block.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Introduce ConsensusProtocol type family that gives the protocol in use for a particular era Introduce ConsensusCryptoForBlock type family that gives the crypto in use for a particular era
  cardano-api/src/Cardano/Api/Modes.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update Cardano.Api.LedgerState/LedgerEvent with the new ShelleyBlock type
  cardano-api/src/Cardano/Api/LedgerEvent.hs
  cardano-api/src/Cardano/Api/LedgerState.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Intoduce an additional constructor for LocalNodeClientParams to encompass the different requirements for the CardanoMode vs the single era modes.
  cardano-api/src/Cardano/Api/IPC.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update Protocol instances with the relevant constraints.
  cardano-api/src/Cardano/Api/Protocol/Types.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Implement orphan instances Propagate the new ShelleyBlock type in Cardano.Api.Query/InMode
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-api/src/Cardano/Api/Orphans.hs
  cardano-api/src/Cardano/Api/Query.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Propagate new ShelleyBlock type in cardano-cli
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Implement various orphan instances and propagate the new ShelleyBlock type in cardano-node
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-node/cardano-node.cabal
  cardano-node/src/Cardano/Node/Configuration/Logging.hs
  cardano-node/src/Cardano/Node/Queries.hs
  cardano-node/src/Cardano/Node/Startup.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Era/Shelley.hs
  cardano-node/src/Cardano/Node/Tracing/StateRep.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Startup.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops, @deepfire, @denisshevchenko, @jutaro

Update mkfiles.sh to allow hardforking directly to Babbage
  scripts/byron-to-alonzo/mkfiles.sh
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Re-enable development eras configuration flag so we can hardfork to Babbage without advertising that we know about Babbage
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-node/src/Cardano/Node/Configuration/POM.hs
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
  cardano-node/src/Cardano/Node/Protocol/Shelley.hs
  cardano-node/src/Cardano/Node/Types.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Dep bump changes - need to merge with previous commits
  cardano-node/src/Cardano/Node/Tracing/Era/Shelley.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Implement Babbage cluster script
  scripts/babbage/mkfiles.sh
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Script tweaks - debugging
  scripts/babbage/mkfiles.sh
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

modify plutus shell script
  scripts/plutus/staking-example/register-stake-pool.sh
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

WIP
  cardano-api/src/Cardano/Api/Block.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-api/src/Cardano/Api/Modes.hs
  cardano-api/src/Cardano/Api/Orphans.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
  cardano-node/src/Cardano/Node/Run.hs
  configuration/defaults/byron-mainnet/configuration.yaml
  doc/reference/babbage/cli/return-and-total-collateral-transactions.md
  scripts/lite/example-build-cmd.sh
  scripts/plutus/example-txin-locking-plutus-script.sh
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops, @docs-access

cli changes
  cardano-cli/src/Cardano/CLI/Shelley/Run/Genesis.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

DEBUG kludge for new Shelley.Globals.tipSlot
  cardano-api/src/Cardano/Api/LedgerState.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

DEBUG bump deps for Alonzo tx validity interval temporaroy workaround
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

cardano-node: register GC metrics.
  cardano-node/src/Cardano/Node/Tracing/API.hs
Owners: @deepfire, @denisshevchenko, @jutaro

Add JSON roundtrip property for ScriptData
  cardano-api/test/Test/Cardano/Api/Typed/Script.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add CBOR roundtrip property for ScriptData
  cardano-api/test/Test/Cardano/Api/Typed/CBOR.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Improve genScriptData to generate larger range of numbers
  cardano-api/gen/Gen/Cardano/Api/Typed.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Remove bound check of ScriptDataNumber
  cardano-api/src/Cardano/Api/ScriptData.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Updated docker-compose.yml with latest versions
  docker-compose.yml
Owners: @devops

Added to docker-compose var with path to socket
  docker-compose.yml
Owners: @devops

Update index state to 2022-05-09T00:00:00Z
  cabal.project
  cardano-api/test/Test/Cardano/Api/Json.hs
  cardano-api/test/Test/Cardano/Api/KeysByron.hs
  cardano-api/test/Test/Cardano/Api/Ledger.hs
  cardano-api/test/Test/Cardano/Api/Metadata.hs
  cardano-api/test/Test/Cardano/Api/Typed/Address.hs
  cardano-api/test/Test/Cardano/Api/Typed/Bech32.hs
  cardano-api/test/Test/Cardano/Api/Typed/CBOR.hs
  cardano-api/test/Test/Cardano/Api/Typed/Envelope.hs
  cardano-api/test/Test/Cardano/Api/Typed/JSON.hs
  cardano-api/test/Test/Cardano/Api/Typed/Ord.hs
  cardano-api/test/Test/Cardano/Api/Typed/RawBytes.hs
  cardano-api/test/Test/Cardano/Api/Typed/Script.hs
  cardano-api/test/Test/Cardano/Api/Typed/Value.hs
  cardano-node-chairman/test/Main.hs
  cardano-testnet/test/Main.hs
  cardano-testnet/test/Test/Util.hs
  flake.lock
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops

Update index state to 2022-05-14T00:00:00Z
  cabal.project
  cardano-node-chairman/test/Main.hs
  cardano-testnet/test/Main.hs
  cardano-testnet/test/Test/Util.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

ToJSON instances
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
  cardano-api/src/Cardano/Api/Orphans.hs
  cardano-cli/src/Cardano/CLI/Shelley/Orphans.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Debug output for transaction submit
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Fail plutus script
  scripts/plutus/data/43.redeemer
  scripts/plutus/data/typed-43.redeemer
  scripts/plutus/example-txin-locking-plutus-script-fail.sh
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

New transaction submit --error-detail-out option
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Decode error
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Tidy up
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
  cardano-api/src/Cardano/Api/Orphans.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
  trace-dispatcher/src/Cardano/Logging/Types.hs
  trace-dispatcher/test/Cardano/Logging/Test/Script.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro

Can't get script hash
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Tidy up a bit
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Plutus ToJSON instances
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Compute script hash
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                       David          Duncan   Jordan     Erik   John      Nick Jared
*                       @DavidEichmann @dcoutts @Jimbo4350 @erikd @newhoggy @nc6 @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine
nix/supervisord-cluster                                       @deepfire @denisshevchenko @jutaro @MarcFontaine
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro
trace-forward                                                 @deepfire @denisshevchenko @jutaro
trace-resources                                               @deepfire @denisshevchenko @jutaro
Makefile                                                      @deepfire

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops
