Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @dcoutts, @erikd, @LudvikGalois, @CarlosLopezDeLara, @docs-access, @deepfire, @mgmeier, @MarcFontaine, @denisshevchenko, @jutaro, @fmaste, @cleverca22, @devops, @coot

CODEOWNERS:

# Technical writers
doc                                                           @Jimbo4350 @newhoggy @fsancheziohk @nahern @olgahryniuk
README.*                                                      @Jimbo4350 @newhoggy @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @LaurenceIO

# General reviewers per PR
#                        Duncan   Jordan     Erik   John      Robert        Carlos
*                        @dcoutts @Jimbo4350 @erikd @newhoggy @LudvikGalois @CarlosLopezDeLara

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @mgmeier @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @fmaste @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @fmaste
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro @mgmeier
trace-forward                                                 @deepfire @denisshevchenko @jutaro @mgmeier
trace-resources                                               @deepfire @denisshevchenko @jutaro @mgmeier
Makefile                                                      @deepfire @mgmeier @fmaste
*.mk                                                          @deepfire @mgmeier @fmaste

nix                                                           @devops @deepfire @mgmeier @fmaste
*.nix                                                         @devops @deepfire @mgmeier @fmaste
flake.lock                                                    @devops @deepfire @mgmeier @fmaste

.buildkite                                                    @Jimbo4350 @newhoggy @devops
.github                                                       @Jimbo4350 @newhoggy @devops
ci                                                            @Jimbo4350 @newhoggy @devops
configuration                                                 @Jimbo4350 @newhoggy @devops
bors.toml                                                     @Jimbo4350 @newhoggy @devops
docker-compose.yml                                            @Jimbo4350 @newhoggy @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @Jimbo4350 @newhoggy @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @Jimbo4350 @newhoggy @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @Jimbo4350 @newhoggy @devops
cardano-node/src/Cardano/Node/Tracing                         @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @Jimbo4350 @newhoggy @devops

cardano-node-service: withCardanoTracer, specifically for cardano-ops
  nix/nixos/cardano-node-service.nix
Owners: @devops, @deepfire, @mgmeier, @fmaste

tx-generator service: update to cardano-node service changes
  nix/nixos/tx-generator-service.nix
Owners: @devops, @deepfire, @mgmeier, @fmaste

svclib: traceDefServiceModule
  nix/svclib.nix
Owners: @devops, @deepfire, @mgmeier, @fmaste

cardano-tracer-service: fix systemd service definition
  nix/nixos/cardano-tracer-service.nix
Owners: @devops, @deepfire, @mgmeier, @fmaste

cardano-tracer-service: more configuration control
  nix/nixos/cardano-tracer-service.nix
Owners: @devops, @deepfire, @mgmeier, @fmaste

workbench: connect tx-generator to cardano-tracer
  nix/nixos/tx-generator-service.nix
  nix/workbench/backend/services-config.nix
  nix/workbench/profiles/generator-service.nix
Owners: @devops, @deepfire, @mgmeier, @fmaste

tx-generator: trace forwarding via cardano-tracer
  bench/tx-generator/src/Cardano/Benchmarking/Command.hs
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/NixOptions.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/NodeConfig.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
  bench/tx-generator/src/Cardano/Benchmarking/Tracer.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: forward gen info.
  bench/tx-generator/src/Cardano/Benchmarking/Tracer.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: fix hlint
  bench/tx-generator/src/Cardano/Benchmarking/Command.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: common error type; migrate Genesis.hs (WIP)
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
  bench/tx-generator/src/Cardano/TxGenerator/Genesis.hs
  bench/tx-generator/src/Cardano/TxGenerator/PureExample.hs
  bench/tx-generator/src/Cardano/TxGenerator/Tx.hs
  bench/tx-generator/src/Cardano/TxGenerator/Types.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: purer PureExample.hs; new executable for API
  bench/tx-generator/app/tx-generator-api.hs
  bench/tx-generator/src/Cardano/TxGenerator/FundQueue.hs
  bench/tx-generator/src/Cardano/TxGenerator/PureExample.hs
  bench/tx-generator/src/Cardano/TxGenerator/Types.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: linting
  bench/tx-generator/src/Cardano/TxGenerator/Genesis.hs
  bench/tx-generator/src/Cardano/TxGenerator/Tx.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: include setup via Nix service
  bench/tx-generator/app/tx-generator-api.hs
  bench/tx-generator/src/Cardano/Benchmarking/Command.hs
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/TxGenerator/Internal/Orphans.hs
  bench/tx-generator/src/Cardano/TxGenerator/Setup/NixService.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: more refactoring (WIP)
  bench/tx-generator/app/tx-generator-api.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Aeson.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/NodeConfig.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
  bench/tx-generator/src/Cardano/TxGenerator/PureExample.hs
  bench/tx-generator/src/Cardano/TxGenerator/Setup/NodeConfig.hs
  bench/tx-generator/src/Cardano/TxGenerator/Types.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: type application syntax for GHC 9.2
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SizedMetadata.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/TxGenerator/Fund.hs
  bench/tx-generator/src/Cardano/TxGenerator/Genesis.hs
  bench/tx-generator/src/Cardano/TxGenerator/Tx.hs
  bench/tx-generator/src/Cardano/TxGenerator/UTxO.hs
  bench/tx-generator/src/Cardano/TxGenerator/Utils.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: migrate Genesis.hs module
  bench/tx-generator/app/tx-generator-api.hs
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Genesis.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Aeson.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Setters.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Store.hs
  bench/tx-generator/src/Cardano/TxGenerator/Genesis.hs
  bench/tx-generator/src/Cardano/TxGenerator/Setup/NixService.hs
  bench/tx-generator/src/Cardano/TxGenerator/Types.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: handle configs and genesis; script testground (WIP)
  bench/tx-generator/app/tx-generator-api.hs
  bench/tx-generator/src/Cardano/TxGenerator/Genesis.hs
  bench/tx-generator/src/Cardano/TxGenerator/Script/Types.hs
  bench/tx-generator/src/Cardano/TxGenerator/Setup/NodeConfig.hs
  bench/tx-generator/src/Cardano/TxGenerator/Types.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: fix rebase artifact
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: replace Generator fee field with API type
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Selftest.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Setters.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Store.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: refactoring (WIP)
  bench/tx-generator/src/Cardano/Benchmarking/PlutusExample.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/TxGenerator/Setup/Plutus.hs
  bench/tx-generator/src/Cardano/TxGenerator/Types.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: remove unused constant TTL
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Selftest.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Setters.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

tx-generator: post-process refactoring
  bench/tx-generator/src/Cardano/Benchmarking/Command.hs
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/NodeConfig.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Switch to internal haskell package repository
  CONTRIBUTING.rst
  README.rst
  cabal.project
  flake.lock
  flake.nix
  nix/haskell.nix
  nix/workbench/manifest.sh
  nix/workbench/run.sh
  nix/workbench/shell.nix
  shell.nix
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara, @docs-access, @devops, @deepfire, @mgmeier, @fmaste

Expand BalancedTxBody to include TxBodyContent
  cardano-api/src/Cardano/Api/Convenience/Construction.hs
  cardano-api/src/Cardano/Api/Fees.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

Fix Windows Github Actions Workflow for building Haskell
  .github/workflows/haskell.yml
Owners: @Jimbo4350, @newhoggy, @devops

Updated ouroboros-network
  cabal.project
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara, @devops, @coot

hide-skv
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

move-action
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Aeson.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

hide-env
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

fix impurity
  nix/default.nix
  nix/nixos/cardano-node-service.nix
Owners: @devops, @deepfire, @mgmeier, @fmaste

hide-env
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Correctly provide libsecp256k1 for cardano-crypto-class
  nix/haskell.nix
Owners: @devops, @deepfire, @mgmeier, @fmaste

Remove s-r-p for ekg-json
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

Add ekg-forward lower-bound to trace-dispatcher
  trace-dispatcher/trace-dispatcher.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @mgmeier

Remove s-r-p for ekg-forward
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

Bump CHaP
  cabal.project
  flake.lock
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara, @devops, @deepfire, @mgmeier, @fmaste

Hide usage of Action Set case in setConst.
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Monomorphise the User case of the Store type.
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/NodeConfig.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Store.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Remove Tag, Setters
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Aeson.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Selftest.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Setters.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
  bench/tx-generator/tx-generator.cabal
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

Remove unSet & consumeName
  bench/tx-generator/src/Cardano/Benchmarking/Script/Env.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22
