Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @cleverca22, @devops, @coot

Starting work on extracting tx info
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Stuff
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Move applyTxErrorToJson
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-api/src/Cardano/Api/InMode/Export.hs
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Babbage era TODO
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Stuff
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Stuff
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Move render functions to own module
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Alonzo/Render.hs
  cardano-api/src/Cardano/Api/Orphans.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Move applyTxErrorToJson
  cardano-api/src/Cardano/Api/InMode.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Move applyTxErrorToJson
  cardano-api/src/Cardano/Api/InMode/Export.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Move orphan instances into Cardano.Api.Orphans.
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-api/src/Cardano/Api/InMode/Export.hs
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
  cardano-api/src/Cardano/Api/Orphans.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Wrapper type for PolicyID
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Ledger/Mary.hs
  cardano-api/src/Cardano/Api/Orphans.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Move functions out of ToJSON
  cardano-api/src/Cardano/Api/InMode/Export.hs
  cardano-api/src/Cardano/Api/InMode/ToJson.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Pretty
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-api/src/Cardano/Api/Orphans.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Stuff
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/tx-generator.cabal
  cardano-cli/src/Cardano/CLI/Byron/Tx.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
  cardano-submit-api/cardano-submit-api.cabal
  cardano-submit-api/src/Cardano/TxSubmit/Web.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Remove description
  cardano-api/src/Cardano/Api/Orphans.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Stuff
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/Byron/Tx.hs
  cardano-submit-api/src/Cardano/TxSubmit/Web.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Debugging
  cardano-api/src/Cardano/Api/Orphans.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Stuff
  cardano-api/src/Cardano/Api/Orphans.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Stuff
  cardano-api/cardano-api.cabal
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Stuff
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-api/src/Cardano/Api/Orphans.hs
  cardano-api/src/Cardano/Api/Orphans/Pretty.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Stuff
  cardano-api/src/Cardano/Api/Orphans/Pretty.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Stuff
  cardano-api/src/Cardano/Api/Orphans/Pretty.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

trace-dispatcher: Fixes
  trace-dispatcher/src/Cardano/Logging/Configuration.hs
  trace-dispatcher/src/Cardano/Logging/ConfigurationParser.hs
Owners: @deepfire, @denisshevchenko, @jutaro

cardano-node: hlint fix
  cardano-node/src/Cardano/Node/Tracing/API.hs
Owners: @deepfire, @denisshevchenko, @jutaro

cardano-node: fixes
  cardano-node/src/Cardano/Node/Tracing/API.hs
Owners: @deepfire, @denisshevchenko, @jutaro

configuration: new structure
  configuration/cardano/mainnet-config-new-tracing.yaml
  configuration/cardano/membench-config-new.yaml
Owners: @devops

trace-dispatcher: Configuration restructuring
  doc/New Tracing Quickstart.md
  trace-dispatcher/doc/trace-dispatcher.md
  trace-dispatcher/src/Cardano/Logging.hs
  trace-dispatcher/src/Cardano/Logging/Configuration.hs
  trace-dispatcher/src/Cardano/Logging/ConfigurationParser.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/Composed.hs
  trace-dispatcher/src/Cardano/Logging/Types.hs
  trace-dispatcher/test/Cardano/Logging/Test/Config.hs
  trace-dispatcher/trace-dispatcher.cabal
Owners: @docs-access, @deepfire, @denisshevchenko, @jutaro

Create relay_10
  relay_10
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                       David          Duncan   Jordan     Erik   John      Nick Jared
*                       @DavidEichmann @dcoutts @Jimbo4350 @erikd @newhoggy @nc6 @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine
nix/supervisord-cluster                                       @deepfire @denisshevchenko @jutaro @MarcFontaine
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro
trace-forward                                                 @deepfire @denisshevchenko @jutaro
trace-resources                                               @deepfire @denisshevchenko @jutaro
Makefile                                                      @deepfire

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops
