Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @cleverca22, @devops, @coot

Add Babbage era to Cardano.Api.Block
  cardano-api/src/Cardano/Api/Block.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add Babbage era to Cardano.Api.Fees
  cardano-api/src/Cardano/Api/Fees.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add Babbage era to Cardano.Api.LedgerState
  cardano-api/src/Cardano/Api/LedgerState.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update generators and tests with Babbage era
  cardano-api/gen/Gen/Cardano/Api/Typed.hs
  cardano-api/test/Test/Cardano/Api/Json.hs
  cardano-api/test/Test/Cardano/Api/Typed/CBOR.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add Babbage era to Cardano.CLI.Friendly
  cardano-cli/src/Cardano/CLI/Run/Friendly.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add Babbage era to Cardano.CLI.Shelley.Run.Query
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add Babbage era to Cardano.CLI.Shelley.Run.Transaction
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

add Babbage to tx-generator (stubs)
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SizedMetadata.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Tx.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

Propagate TxOutDatumInline throughout cardano-api
  cardano-api/gen/Gen/Cardano/Api/Typed.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Propagate TxOutDatumInline throughout cardano-cli
  cardano-cli/src/Cardano/CLI/Run/Friendly.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

WIP
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Implement the ReferenceScript era data type in cardano-api Update the TxOut data type with the ability to specify a ReferenceScript in the Babbage era.
  cardano-api/src/Cardano/Api/Script.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

use Ledger's new CostModel smart constructor
  bench/tx-generator/src/Cardano/Benchmarking/PlutusExample.hs
  cardano-api/gen/Gen/Cardano/Api.hs
  cardano-api/gen/Gen/Cardano/Api/Typed.hs
  cardano-api/src/Cardano/Api/Fees.hs
  cardano-api/src/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

THOU SHALT NOT MERGE THIS
  cardano-api/src/Cardano/Api/Shelley/Genesis.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update iohk-nix, haskell.nix
  flake.lock
  nix/haskell.nix
Owners: @devops

Fix for script path in flake apps
  nix/scripts.nix
Owners: @devops

Debug script
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

WIP
  cabal.project
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-node/src/Cardano/Node/Queries.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/StartLeadershipCheck.hs
  nix/pkgs.nix
  nix/workbench/default.nix
  shell.nix
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro, @devops

Propagate TxOutDatumInline throughout cardano-api
  cardano-api/gen/Gen/Cardano/Api/Typed.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Propagate TxOutDatumInline throughout cardano-cli
  cardano-cli/src/Cardano/CLI/Run/Friendly.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

updating ledger to get RestrainedRewards event
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Make configuration template in cardano-testnet configurable
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/src/Testnet/Conf.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Pass base and configurationTemplate as arguments to mkConf
  cardano-cli/test/Test/Config/Mainnet.hs
  cardano-node-chairman/cardano-node-chairman.cabal
  cardano-node-chairman/test/Spec/Chairman/Byron.hs
  cardano-node-chairman/test/Spec/Chairman/Cardano.hs
  cardano-node-chairman/test/Spec/Chairman/Shelley.hs
  cardano-node-chairman/testnet/Testnet/Run.hs
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/src/Testnet/Conf.hs
  cardano-testnet/src/Testnet/Shelley.hs
  cardano-testnet/test/Spec/Plutus/Direct/CertifyingAndWithdrawingPlutus.hs
  cardano-testnet/test/Spec/Plutus/Direct/ScriptContextEquality.hs
  cardano-testnet/test/Spec/Plutus/Direct/ScriptContextEqualityMint.hs
  cardano-testnet/test/Spec/Plutus/Direct/TxInLockingPlutus.hs
  cardano-testnet/test/Spec/Plutus/Script/TxInLockingPlutus.hs
  cardano-testnet/test/Spec/Plutus/SubmitApi/TxInLockingPlutus.hs
  cardano-testnet/test/Spec/Shutdown.hs
  cardano-testnet/test/Spec/ShutdownOnSlotSynced.hs
  cardano-testnet/testnet/Testnet/Run.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

New ProjectBase and YamlFilePath newtypes
  cardano-node-chairman/test/Spec/Chairman/Byron.hs
  cardano-node-chairman/test/Spec/Chairman/Cardano.hs
  cardano-node-chairman/test/Spec/Chairman/Shelley.hs
  cardano-node-chairman/testnet/Testnet/Run.hs
  cardano-testnet/src/Testnet/Conf.hs
  cardano-testnet/src/Testnet/Shelley.hs
  cardano-testnet/test/Spec/Plutus/Direct/CertifyingAndWithdrawingPlutus.hs
  cardano-testnet/test/Spec/Plutus/Direct/ScriptContextEquality.hs
  cardano-testnet/test/Spec/Plutus/Direct/ScriptContextEqualityMint.hs
  cardano-testnet/test/Spec/Plutus/Direct/TxInLockingPlutus.hs
  cardano-testnet/test/Spec/Plutus/Script/TxInLockingPlutus.hs
  cardano-testnet/test/Spec/Shutdown.hs
  cardano-testnet/test/Spec/ShutdownOnSlotSynced.hs
  cardano-testnet/testnet/Testnet/Run.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update iohk-nix, haskell.nix
  flake.lock
  nix/haskell.nix
Owners: @devops

Fix for script path in flake apps
  nix/scripts.nix
Owners: @devops

Implement the ReferenceScript era data type in cardano-api Update the TxOut data type with the ability to specify a ReferenceScript in the Babbage era.
  cardano-api/src/Cardano/Api/Script.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Propagate reference scripts to Cardano.Api.Fees
  cardano-api/src/Cardano/Api/Fees.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Expose the ReferenceScript data type an relevant functions via Cardano.Api.Shelley
  cardano-api/src/Cardano/Api/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Implement two versions of genTxOut depending on the context (TxOut in a Tx or in the UTxO). Add two JSON roundtrip tests for TxOuts in each of the aforementioned contexts.
  cardano-api/gen/Gen/Cardano/Api/Typed.hs
  cardano-api/test/Test/Cardano/Api/Json.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Propagate changes to tx-generator
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Genesis.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Tx.hs
  bench/tx-generator/src/Cardano/Benchmarking/PlutusExample.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22

plutus-example BabbageEra hedgehog generator updates
  plutus-example/test/Test/PlutusExample/Gen.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Initial propagation of reference scripts to cardano-cli. No functionality is implemented, only placeholders.
  cardano-cli/src/Cardano/CLI/Byron/Parsers.hs
  cardano-cli/src/Cardano/CLI/Run/Friendly.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

shell.nix: add setLocale to dev shell
  shell.nix
Owners: @devops

WIP comment out cardano-api code that requires non-EmptyMK
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/LedgerState.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

WIP stubs so cardano-api builds
  cardano-api/src/Cardano/Api/IPC.hs
  cardano-api/src/Cardano/Api/IPC/Monad.hs
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-api/src/Cardano/Api/Query.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

WIP minor UTxO HD type fixes and minor P2P fixes so cardano-node builds
  cardano-node/src/Cardano/Node/Queries.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/StartLeadershipCheck.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro, @coot, @devops

WIP Some to SomeQuery
  cardano-api/src/Cardano/Api/Query.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

DO NOT MERGE: Bump ouroboros-network version to the latest version of feature/utxo-hd
  cabal.project
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-node/src/Cardano/Node/Queries.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/StartLeadershipCheck.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro

Implement TxReturnCollateral and TxTotalCollateral GADTs in cardano-api
  cardano-api/gen/Gen/Cardano/Api/Typed.hs
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                       David          Duncan   Jordan     Erik   John      Nick Jared
*                       @DavidEichmann @dcoutts @Jimbo4350 @erikd @newhoggy @nc6 @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine
nix/supervisord-cluster                                       @deepfire @denisshevchenko @jutaro @MarcFontaine
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro
trace-forward                                                 @deepfire @denisshevchenko @jutaro
trace-resources                                               @deepfire @denisshevchenko @jutaro
Makefile                                                      @deepfire

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops
