Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @docs-access, @devops

Make hlint suggestions
  cardano-api/src/Cardano/Api/Certificate.hs
  cardano-api/src/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Value.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Make makeShelleyKeyWitness work for all eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Make makeSignedTransaction work for all eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise getTxBody and getTxWitnesses over all Shelley-based eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Redo tx body construction, with era-dependent fields.
  cardano-api/src/Cardano/API.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Typed.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise the Witness AsType instance over all eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Make makeShelleyBootstrapWitness work for all eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Restore the instance Show Witness
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise the Tx serialisation instances over all eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise the Witness serialisation instances over all eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add back the Show instance for Tx
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise the ShelleyTx representation over all eras
  cardano-api/src/Cardano/Api/Fees.hs
  cardano-api/src/Cardano/Api/Tx.hs
  cardano-api/src/Cardano/Api/TxSubmit.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Restore the instance Eq Witness
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise the Witness representation over all eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Make IsShelleyBasedEra extend IsCardanoEra
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/Typed.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Flag to launch non-Byron-only testnet with custom activeSlotCoeff
  cardano-node-chairman/src/Testnet/ByronShelley.hs
  cardano-node-chairman/src/Testnet/Shelley.hs
  cardano-node-chairman/test/Spec/Chairman/ByronShelley.hs
  cardano-node-chairman/test/Spec/Chairman/Shelley.hs
  cardano-node-chairman/testnet/Testnet/Commands/ByronShelley.hs
  cardano-node-chairman/testnet/Testnet/Commands/Shelley.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Testnet with custom epochLength
  cardano-node-chairman/src/Testnet/ByronShelley.hs
  cardano-node-chairman/src/Testnet/Shelley.hs
  cardano-node-chairman/testnet/Testnet/Commands/ByronShelley.hs
  cardano-node-chairman/testnet/Testnet/Commands/Shelley.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Nixos service: remove "after" dependency on multi-user.target
  nix/nixos/cardano-node-service.nix
Owners: @devops

Update cardano-cli to use CardanoEra flag
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Address.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
  cardano-cli/src/Cardano/CLI/Types.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update cardano-cli tx sign with `withCardanoEra`
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

WIP
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

SomeWitness refactor WIP
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update cardano-node-cli-reference.md
  doc/reference/cardano-node-cli-reference.md
Owners: @docs-access

Updated help text for query ledger/protocol-state
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise the Tx serialisation instances over all eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Make makeShelleyKeyWitness work for all eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise the ShelleyTx representation over all eras
  cardano-api/src/Cardano/Api/Fees.hs
  cardano-api/src/Cardano/Api/Tx.hs
  cardano-api/src/Cardano/Api/TxSubmit.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise getTxBody and getTxWitnesses over all Shelley-based eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Redo tx body construction, with era-dependent fields.
  cardano-api/src/Cardano/API.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/Typed.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Make IsShelleyBasedEra extend IsCardanoEra
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/Typed.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise the Witness representation over all eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Make makeShelleyBootstrapWitness work for all eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Restore the instance Show Witness
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add back the Show instance for Tx
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Restore the instance Eq Witness
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise the Witness serialisation instances over all eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Fix hlint warnings
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Import required instances
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Make makeSignedTransaction work for all eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Generalise the Witness AsType instance over all eras
  cardano-api/src/Cardano/Api/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

CODEOWNERS:

# General reviewers per PR
#                       Duncan   Jordan     Luke       Erik   Thomas   John
*                       @dcoutts @Jimbo4350 @intricate @erikd @mrBliss @newhoggy

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence

# /doc folder and README.* needs to be owned by @docs-access
doc                          @docs-access
README.*                     @docs-access

.buildkite                   @devops
ci                           @devops
configuration                @devops
nix                          @devops
*.nix                        @devops
bors.toml                    @devops
