Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @Jimbo4350, @newhoggy, @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @dcoutts, @erikd, @LudvikGalois, @CarlosLopezDeLara, @docs-access, @deepfire, @mgmeier, @MarcFontaine, @denisshevchenko, @jutaro, @fmaste, @cleverca22, @devops, @coot

Removed a debug message
  cardano-node/src/Cardano/Node/Run.hs
Owners: @Jimbo4350, @newhoggy, @devops

locli | MachPerf: allow slStarted to substitute slLgrView, in line with BlockProp
  bench/locli/src/Cardano/Analysis/MachPerf.hs
  bench/locli/src/Cardano/Util.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

trace-dispatcher: optional EKG.Store.
  cabal.project
  cardano-node/src/Cardano/Node/Tracing/API.hs
  trace-dispatcher/src/Cardano/Logging/Forwarding.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara, @deepfire, @denisshevchenko, @jutaro, @mgmeier

Test build
  README.rst
Owners: @docs-access

Fix TxWitness text envelope formatting for the Shelley era
  cardano-api/src/Cardano/Api/Tx.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

Syntax changes to accomodate ghc-9.2.4
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SizedMetadata.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/test/Main.hs
  cardano-api/src/Cardano/Api/LedgerEvent.hs
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-api/src/Cardano/Api/TxSubmit/ErrorRender.hs
  cardano-api/src/Cardano/Api/TxSubmit/Types.hs
  cardano-api/test/Test/Cardano/Api/Crypto.hs
  cardano-cli/app/cardano-cli.hs
  cardano-cli/src/Cardano/CLI/Byron/Delegation.hs
  cardano-cli/src/Cardano/CLI/Byron/Genesis.hs
  cardano-cli/src/Cardano/CLI/Byron/Key.hs
  cardano-cli/src/Cardano/CLI/Byron/Parsers.hs
  cardano-cli/src/Cardano/CLI/Byron/Tx.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-node-chairman/app/Cardano/Chairman.hs
  cardano-node-chairman/app/Cardano/Chairman/Commands/Run.hs
  cardano-node/app/cardano-node.hs
  cardano-node/src/Cardano/Node/Parsers.hs
  cardano-node/src/Cardano/Node/Queries.hs
  cardano-node/src/Cardano/Node/Tracing/Era/HardFork.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Common.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/HardFork.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
  cardano-submit-api/src/Cardano/TxSubmit/ErrorRender.hs
  trace-dispatcher/src/Cardano/Logging/Configuration.hs
  trace-dispatcher/src/Cardano/Logging/Trace.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/Composed.hs
  trace-dispatcher/src/Cardano/Logging/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

Remove unused constraints
  cardano-api/src/Cardano/Api/Query.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/Consensus.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
  trace-dispatcher/src/Cardano/Logging/FrequencyLimiter.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara, @deepfire, @denisshevchenko, @jutaro, @mgmeier

Remove unused dependencies
  cardano-api/cardano-api.cabal
  cardano-cli/cardano-cli.cabal
  cardano-node-chairman/cardano-node-chairman.cabal
  cardano-node/cardano-node.cabal
  cardano-testnet/cardano-testnet.cabal
  cardano-tracer/cardano-tracer.cabal
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara, @deepfire, @denisshevchenko

bump a few source-repos
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

bump a few sha256
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

bump
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

WIP try ghc 9.2.4
  cabal.project
  flake.lock
  nix/haskell.nix
  nix/pkgs.nix
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara, @devops, @deepfire, @mgmeier, @fmaste

more allow-newer
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

allow newer hedgehog with tasty-hedgehog
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

newer protolude
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

*:hashable
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

ral:hashable
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

update (2)
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

allow newer hashable for Unique
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

update
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

newer hashable for protolude
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

Add heapwords package
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

bump flakes
  flake.lock
Owners: @devops, @deepfire, @mgmeier, @fmaste

bump/add sha256
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

be explicit about the libsecp256k1 pkgconf dependency
  nix/haskell.nix
Owners: @devops, @deepfire, @mgmeier, @fmaste

bump cardano-ledger
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

nix flake update
  flake.lock
Owners: @devops, @deepfire, @mgmeier, @fmaste

Changes to cabal.project
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

bump typed-protocols
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

Update nothunks dependency
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

bump cardano-base (fixes cardano-crypto-class)
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

Changes to cabal.project
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

use-ghc-next-packages
  cabal.project
  flake.lock
  flake.nix
  nix/haskell.nix
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara, @devops, @deepfire, @mgmeier, @fmaste

stuff
  .github/workflows/haskell.yml
  cabal.project
  cardano-api/src/Cardano/Api/Fees.hs
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-api/src/Cardano/Api/Tx.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/src/Cardano/CLI/Byron/Legacy.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-node/src/Cardano/Node/Run.hs
  cardano-node/src/Cardano/Node/Tracing/Era/Shelley.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Common.hs
  cardano-node/src/Cardano/Tracing/Startup.hs
Owners: @Jimbo4350, @newhoggy, @devops, @dcoutts, @erikd, @LudvikGalois, @CarlosLopezDeLara, @deepfire, @denisshevchenko, @jutaro

set index-states
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

Drop source repo packages
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

nix flake lock --update-input haskellNix
  flake.lock
Owners: @devops, @deepfire, @mgmeier, @fmaste

Add conway era
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

Changes to cabal.project
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @LudvikGalois, @CarlosLopezDeLara

locli: more compact rendering
  bench/locli/src/Cardano/Analysis/API.hs
  bench/locli/src/Cardano/Analysis/MachPerf.hs
  bench/locli/src/Cardano/Render.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @fmaste, @cleverca22

CODEOWNERS:

# Technical writers
doc                                                           @Jimbo4350 @newhoggy @fsancheziohk @nahern @olgahryniuk
README.*                                                      @Jimbo4350 @newhoggy @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @LaurenceIO

# General reviewers per PR
#                        Duncan   Jordan     Erik   John      Robert        Carlos
*                        @dcoutts @Jimbo4350 @erikd @newhoggy @LudvikGalois @CarlosLopezDeLara

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @mgmeier @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @fmaste @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @fmaste
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro @mgmeier
trace-forward                                                 @deepfire @denisshevchenko @jutaro @mgmeier
trace-resources                                               @deepfire @denisshevchenko @jutaro @mgmeier
Makefile                                                      @deepfire @mgmeier @fmaste
*.mk                                                          @deepfire @mgmeier @fmaste

nix                                                           @devops @deepfire @mgmeier @fmaste
*.nix                                                         @devops @deepfire @mgmeier @fmaste
flake.lock                                                    @devops @deepfire @mgmeier @fmaste

.buildkite                                                    @Jimbo4350 @newhoggy @devops
.github                                                       @Jimbo4350 @newhoggy @devops
ci                                                            @Jimbo4350 @newhoggy @devops
configuration                                                 @Jimbo4350 @newhoggy @devops
bors.toml                                                     @Jimbo4350 @newhoggy @devops
docker-compose.yml                                            @Jimbo4350 @newhoggy @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @Jimbo4350 @newhoggy @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @Jimbo4350 @newhoggy @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @Jimbo4350 @newhoggy @devops
cardano-node/src/Cardano/Node/Tracing                         @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @Jimbo4350 @newhoggy @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @Jimbo4350 @newhoggy @devops
