Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @cleverca22, @devops, @coot

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                       David          Duncan   Jordan     Erik   John      Nick Jared
*                       @DavidEichmann @dcoutts @Jimbo4350 @erikd @newhoggy @nc6 @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine
nix/supervisord-cluster                                       @deepfire @denisshevchenko @jutaro @MarcFontaine
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro
trace-forward                                                 @deepfire @denisshevchenko @jutaro
trace-resources                                               @deepfire @denisshevchenko @jutaro
Makefile                                                      @deepfire

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops

cardano-node-3644: node state ADT expand.
  cardano-node/cardano-node.cabal
  cardano-node/src/Cardano/Node/Startup.hs
  cardano-node/src/Cardano/Node/Tracing.hs
  cardano-node/src/Cardano/Node/Tracing/API.hs
  cardano-node/src/Cardano/Node/Tracing/Peers.hs
  cardano-node/src/Cardano/Node/Tracing/StateRep.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro

Add separate pin for nix-tools.
  flake.lock
  flake.nix
Owners: @devops

Update dependencies and pins.
  cabal.project
  flake.lock
  flake.nix
  nix/haskell.nix
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops

Update hedgehox-extras.
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Bump haskellNix and follow haskellNix/nixpkgs-unstable
  cabal.project
  flake.lock
  flake.nix
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops

Update with additional tracing.
  cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @coot, @devops, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Create staked script
  scripts/staked/configuration.yaml
  scripts/staked/create-staked.sh
  scripts/staked/run-staked.sh
  scripts/staked/topology.json
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

attempt revert of flake-utils
  flake.lock
Owners: @devops

Restore build of plutus-example, now from plutus-apps repo.
  flake.lock
  flake.nix
Owners: @devops

cardano-node: flake fix
  flake.lock
Owners: @devops

workbench: s/psmisc/pstree & hopefully enable Darwin
  nix/supervisord-cluster/default.nix
  nix/workbench/supervisor.sh
  shell.nix
Owners: @devops

workbench: fix nix-shell -A devops
  nix/workbench/profiles/adhoc.jq
  nix/workbench/profiles/derived.jq
  nix/workbench/supervisor.sh
Owners: @devops

workbench: pin the genesis node
  flake.nix
Owners: @devops

workbench: tie the loop
  Makefile
  flake.lock
  flake.nix
  nix/workbench/default.nix
  nix/workbench/genesis.nix
  nix/workbench/profiles/derived.jq
  nix/workbench/profiles/variants.jq
Owners: @deepfire, @devops

workbench: build fix
  flake.nix
  nix/workbench/shell.nix
  nix/workbench/tests/default.nix
  shell.nix
Owners: @devops

workbench: tie the loop, step 2
  flake.lock
  flake.nix
Owners: @devops

workbench: restructure for parametrisability
  flake.lock
  flake.nix
  nix/pkgs.nix
  nix/workbench/default.nix
  nix/workbench/genesis.nix
  nix/workbench/profiles/defaults.jq
  nix/workbench/profiles/genesis-utxo.skey
  nix/workbench/profiles/genesis-utxo.vkey
  nix/workbench/profiles/topology.jq
  nix/workbench/shell.nix
  nix/workbench/supervisor-conf.nix
  nix/workbench/supervisor.nix
  nix/workbench/tests/base.py
  nix/workbench/tests/default.nix
  nix/workbench/tests/update-proposal.py
  nix/workbench/topology.nix
  shell.nix
Owners: @devops

workbench: more factoring and an flake attribute/Makefile target pair to query profile content
  Makefile
  flake.lock
  flake.nix
  nix/custom-config.nix
  nix/pkgs.nix
  nix/workbench/default.nix
  nix/workbench/profiles/derived.jq
  nix/workbench/supervisor-run.nix
  nix/workbench/supervisor.nix
  nix/workbench/supervisor.sh
Owners: @deepfire, @devops

flake: bump cardano-node-workbench
  flake.lock
  flake.nix
Owners: @devops

Test build
  README.rst
Owners: @docs-access

Restore build of plutus-example, now from plutus-apps repo.
  flake.lock
  flake.nix
Owners: @devops

Allow tests to specify custom node CLI options for local testnet
  cardano-node-chairman/test/Spec/Chairman/Cardano.hs
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/testnet/Testnet/Commands/Cardano.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add test for --shutdown-on-slot-synced
  cardano-testnet/cardano-testnet.cabal
  cardano-testnet/test/Main.hs
  cardano-testnet/test/Spec/ShutdownOnSlotSynced.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

At the top level, rethrow `ExceptionInLinkedThread _ ExitSuccess` as `ExitSuccess`
  cardano-node/src/Cardano/Node/Handlers/TopLevel.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

flake-compat: use builtins.fetchTree if available
  flake.lock
  nix/flake-compat.nix
Owners: @devops

hydra: prevent Darwin failures from blocking Hydra builds (Thank you Jean-Baptiste Giraudeau!)
  flake.nix
Owners: @devops

trace-resources: fix rendering
  trace-resources/src/Cardano/Logging/Resources/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro

Add hydraJobsPr to skip some jobs for pr builds
  flake.nix
Owners: @devops

workbench: attempt to intern membench
  flake.lock
  flake.nix
  nix/custom-config.nix
  nix/workbench/membench-batch-process.nix
  nix/workbench/membench-batch-report.nix
  nix/workbench/membench-batch.nix
  nix/workbench/membench-overlay.nix
  nix/workbench/membench-run.nix
  nix/workbench/snapshot.nix
Owners: @devops

Format flake.nix
  flake.nix
Owners: @devops

membench: switch to internal membench
  flake.lock
  flake.nix
  nix/workbench/membench-overlay.nix
  nix/workbench/membench-run.nix
Owners: @devops

Bump cardano-node-workbench.
  Makefile
  flake.lock
  flake.nix
  nix/workbench/membench-overlay.nix
  nix/workbench/membench-run.nix
Owners: @deepfire, @devops

membench: add new tracing mode
  Makefile
  flake.nix
  nix/custom-config.nix
  nix/workbench/membench-batch.nix
  nix/workbench/membench-run.nix
Owners: @deepfire, @devops

workbench | membench: fixes
  Makefile
  flake.nix
  nix/workbench/membench-overlay.nix
  nix/workbench/membench-run.nix
Owners: @deepfire, @devops

membench: work around node not properly returning status
  flake.lock
  flake.nix
  nix/workbench/membench-run.nix
Owners: @devops

cardano-tracer-3712: restore Windows tests.
  cardano-tracer/test/Cardano/Tracer/Test/Logs/Tests.hs
  cardano-tracer/test/Cardano/Tracer/Test/Restart/Tests.hs
  nix/haskell.nix
Owners: @deepfire, @denisshevchenko, @devops

nixos: add support for varying ipv6 host address
  nix/nixos/cardano-node-service.nix
Owners: @devops

Fix typo in Transaction.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Wire up LocalTxMonitorClient in LocalNodeClientProtocols Implement TxIdInMode This sets the stage to expose a user facing function to utilize the local tx monitoring mini protocol
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/IPC.hs
  cardano-api/src/Cardano/Api/InMode.hs
  cardano-api/src/Cardano/Api/Modes.hs
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

fix - some statements are not consistent with the examples shown
  doc/reference/simple-scripts.md
Owners: @docs-access
