Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @docs-access, @devops

Bump dependency on ledger lib
  cabal.project
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

New testnet fork point config
  cardano-node-chairman/src/Testnet/ByronShelley.hs
  cardano-node-chairman/testnet/Testnet/Commands/ByronShelley.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Fix minor typos
  doc/reference/shelley-genesis.md
Owners: @docs-access

Remove dependency on temporary base16 compatibility shim
  cabal.project
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

New Byron Shell testnet CLI parameters
  cardano-node-chairman/src/Testnet/ByronShelley.hs
  cardano-node-chairman/testnet/Testnet/Commands/ByronShelley.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add prettyPrintJSON function
  cardano-api/src/Cardano/Api/SerialiseJSON.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Replace CardanoEra with ByronKeyFormat
  cardano-cli/src/Cardano/CLI/Byron/Commands.hs
  cardano-cli/src/Cardano/CLI/Byron/Delegation.hs
  cardano-cli/src/Cardano/CLI/Byron/Genesis.hs
  cardano-cli/src/Cardano/CLI/Byron/Key.hs
  cardano-cli/src/Cardano/CLI/Byron/Parsers.hs
  cardano-cli/src/Cardano/CLI/Byron/Run.hs
  cardano-cli/src/Cardano/CLI/Byron/UpdateProposal.hs
  cardano-cli/src/Cardano/CLI/Byron/Vote.hs
  cardano-cli/src/Cardano/CLI/Run.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Key.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Change lower/upper-bound cli args to invalid-before and invalid-hereafter respectively
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

CAD-2378 node logging: return new state in mapForgingStatsTxsProcessed
  cardano-node/src/Cardano/Tracing/Metrics.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Revert "CAD-2166 logging: move all metrics to 'cardano.node.metrics'"
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

CAD-2377 node prometheus: re-export a subset of process resource stats metrics
  cardano-node/src/Cardano/Node/Configuration/Logging.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

CAD-2377 node logging: fix missed slot metric
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Eliminate use of the LastKnownBlockVersion-Major for Shelley based eras
  cardano-node/src/Cardano/Node/Configuration/POM.hs
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
  cardano-node/src/Cardano/Node/Protocol/Shelley.hs
  cardano-node/src/Cardano/Node/Types.hs
  cardano-node/test/Test/Cardano/Node/POM.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Bump version to 1.24.2 and update change logs
  cardano-api/ChangeLog.md
  cardano-api/cardano-api.cabal
  cardano-cli/ChangeLog.md
  cardano-cli/cardano-cli.cabal
  cardano-node-chairman/cardano-node-chairman.cabal
  cardano-node/ChangeLog.md
  cardano-node/cardano-node.cabal
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Require unordered-containers >= 0.2.11
  cardano-api/cardano-api.cabal
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Improved mini-protocol tracers
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

networking traces using show instances rather than json values
  cardano-node/src/Cardano/Tracing/Constraints.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Add curl retry logic to Github Actions
  .github/workflows/haskell.yml
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Configurable number of nodes in Byron testnet
  cardano-node-chairman/src/Testnet/Byron.hs
  cardano-node-chairman/test/Spec/Chairman/Byron.hs
  cardano-node-chairman/testnet/Testnet/Commands/Byron.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

nodeSubmitTx improve error
  cardano-cli/src/Cardano/CLI/Byron/Tx.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Remove various TODOs
  cardano-cli/src/Cardano/CLI/Byron/UpdateProposal.hs
  cardano-cli/src/Cardano/CLI/Byron/Vote.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Pool.hs
  cardano-cli/test/Test/Golden/Shelley/TextEnvelope/Certificates/MIRCertificate.hs
  cardano-node/src/Cardano/Node/Protocol/Byron.hs
  cardano-node/src/Cardano/Node/Types.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update help information in cardano-cli output
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

iohk-nix: bump to master
  nix/sources.json
Owners: @devops

New Byron testnet parameters
  cardano-node-chairman/src/Testnet/Byron.hs
  cardano-node-chairman/testnet/Testnet/Commands/Byron.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Rename Cardano.API to Cardano.Api
  cardano-api/ChangeLog.md
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Byron.hs
  cardano-api/src/Cardano/Api/Shelley.hs
  cardano-api/test/Test/Cardano/Api/Typed/MultiSig/Allegra.hs
  cardano-api/test/Test/Cardano/Api/Typed/MultiSig/Mary.hs
  cardano-api/test/Test/Cardano/Api/Typed/MultiSig/Shelley.hs
  cardano-cli/src/Cardano/CLI/Mary/TxOutParser.hs
  cardano-node/test/Test/Cardano/Node/FilePermissions.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Remove most usage of Cardano.Api.Typed in cardano-api and cardano-node
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/LocalChainSync.hs
  cardano-api/src/Cardano/Api/Protocol.hs
  cardano-api/src/Cardano/Api/Shelley.hs
  cardano-api/src/Cardano/Api/TxSubmit.hs
  cardano-api/test/Test/Cardano/Api/Examples.hs
  cardano-api/test/Test/Cardano/Api/MetaData.hs
  cardano-api/test/Test/Cardano/Api/Typed/Bech32.hs
  cardano-api/test/Test/Cardano/Api/Typed/CBOR.hs
  cardano-api/test/Test/Cardano/Api/Typed/Envelope.hs
  cardano-api/test/Test/Cardano/Api/Typed/Orphans.hs
  cardano-api/test/Test/Cardano/Api/Typed/RawBytes.hs
  cardano-api/test/Test/Cardano/Api/Typed/Value.hs
  cardano-node/src/Cardano/Node/Protocol/Shelley.hs
  cardano-node/src/Cardano/Node/Types.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

MetaData -> Metadata
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Certificate.hs
  cardano-api/src/Cardano/Api/Shelley.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/TxMetadata.hs
  cardano-api/src/Cardano/Api/Typed.hs
  cardano-api/test/Test/Cardano/Api/Gen.hs
  cardano-api/test/Test/Cardano/Api/MetaData.hs
  cardano-api/test/Test/Cardano/Api/Typed/Gen.hs
  cardano-api/test/cardano-api-test.hs
  cardano-cli/src/Cardano/CLI/Byron/UpdateProposal.hs
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Orphans.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Pool.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
  cardano-cli/test/Test/Golden/Shelley.hs
  cardano-cli/test/Test/Golden/Shelley/Metadata/StakePoolMetadata.hs
  cardano-cli/test/cardano-cli-golden.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Shelley.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

cabal.project: Bump cardano-ledger-specs and ouroboros-network
  cabal.project
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

cabal.project: Bump cardano-prelude to latest master
  cabal.project
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Rewrite the script reference docs and include time locking
  doc/reference/multisig.md
  doc/reference/simple-scripts.md
Owners: @docs-access

CAD-2293: update iohk-monitoring dependency.
  cabal.project
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Continue on error for chairman test artifact upload
  .github/workflows/haskell.yml
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update to ouroboro-network commit 0i4p3jbr
  cabal.project
  nix/sources.json
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy, @devops

More precise tx output range error reporting
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Adds subsection for IOHK Binary cache
  doc/getting-started/building-the-node-using-nix.md
Owners: @docs-access

Remove byron delegation cli commands
  README.rst
  cardano-cli/src/Cardano/CLI/Byron/Commands.hs
  cardano-cli/src/Cardano/CLI/Byron/Parsers.hs
  cardano-cli/src/Cardano/CLI/Byron/Run.hs
Owners: @docs-access, @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Added section on Native Token PPE, as requested
  README.rst
Owners: @docs-access

Flip tests in list comprehension to collect error values. Accept (maxBound :: Word64) as a valid txout value
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

api: Remove microlens dependency
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/Byron/Legacy.hs
Owners: @dcoutts, @Jimbo4350, @intricate, @erikd, @mrBliss, @newhoggy

Update README.rst
  README.rst
Owners: @docs-access

CODEOWNERS:

# General reviewers per PR
#                       Duncan   Jordan     Luke       Erik   Thomas   John
*                       @dcoutts @Jimbo4350 @intricate @erikd @mrBliss @newhoggy

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence

# /doc folder and README.* needs to be owned by @docs-access
doc                          @docs-access
README.*                     @docs-access

.buildkite                   @devops
ci                           @devops
configuration                @devops
nix                          @devops
*.nix                        @devops
bors.toml                    @devops
