Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @cleverca22, @devops, @coot

TEMPORARY tune up severities for pipelining benchmark run
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

cardano-node: the new CAD-4182 tracer events *AND* prevent elision during this benchmark run
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

cabal.project: bump o-n and i-m-f deps
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

consensus: add TraceForgingMempoolSnapshot event
  cardano-node/src/Cardano/Node/Tracing/Tracers/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

WIP Some to SomeQuery
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/IPC.hs
  cardano-api/src/Cardano/Api/IPC/Monad.hs
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-node/src/Cardano/Node/Queries.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/StartLeadershipCheck.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
  shell.nix
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro, @coot, @devops

trace-dispatcher: with symbols for namespaces
  trace-dispatcher/bench/trace-dispatcher-bench.hs
  trace-dispatcher/examples/Examples/DataPoint.hs
  trace-dispatcher/src/Cardano/Logging/Configuration.hs
  trace-dispatcher/src/Cardano/Logging/DocuGenerator.hs
  trace-dispatcher/src/Cardano/Logging/Formatter.hs
  trace-dispatcher/src/Cardano/Logging/Trace.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/Composed.hs
  trace-dispatcher/src/Cardano/Logging/Tracer/DataPoint.hs
  trace-dispatcher/src/Cardano/Logging/Types.hs
  trace-dispatcher/src/Control/Tracer/Arrow.hs
  trace-dispatcher/test/Cardano/Logging/Test/Oracles.hs
  trace-dispatcher/trace-dispatcher.cabal
Owners: @deepfire, @denisshevchenko, @jutaro

cardano-node: with symbols for namespaces
  cardano-node/src/Cardano/Node/Tracing/Tracers/BlockReplayProgress.hs
Owners: @deepfire, @denisshevchenko, @jutaro

node: documentation fixes
  cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @coot

doc: check in new generated
  doc/new-tracing/tracers_doc_generated.md
Owners: @docs-access

scripts and config: Profiling adds
  cabal.project
  configuration/cardano/mainnet-config-all-traces.yaml
  configuration/cardano/mainnet-config-new-tracing-all-tracers.yaml
  configuration/cardano/membench-config-new-all-tracers.yaml
  configuration/cardano/membench-config-old-all-tracers.json
  scripts/lite/mainnet-new-tracing-all-tracers.sh
  scripts/lite/mainnet-new-tracing.sh
  scripts/lite/mainnet-with-all-tracers.sh
  scripts/lite/mainnet.sh
  scripts/lite/membench-new-tracing-all-tracers.sh
  scripts/lite/membench-old-tracing.sh
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops

trace-dispatcher: doc generation
  doc/new-tracing/tracers_doc_generated.md
  trace-dispatcher/src/Cardano/Logging/DocuGenerator.hs
Owners: @docs-access, @deepfire, @denisshevchenko, @jutaro

trace-dispatcher: doc generation fixes 2
  doc/new-tracing/tracers_doc_generated.md
Owners: @docs-access

trace-dispatcher: doc generation fixes
  doc/new-tracing/tracers_doc_generated_old2.md
  trace-dispatcher/src/Cardano/Logging/DocuGenerator.hs
Owners: @docs-access, @deepfire, @denisshevchenko, @jutaro

cardano-node: added forgeThreadStats docu.
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ForgingThreadStats.hs
  doc/new-tracing/tracers_doc_generated.md
Owners: @deepfire, @denisshevchenko, @jutaro, @docs-access

node: documentation fixes
  cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @coot

doc: check in new generated
  doc/new-tracing/tracers_doc_generated.md
Owners: @docs-access

trace-dispatcher: doc generation
  doc/new-tracing/tracers_doc_generated.md
  trace-dispatcher/src/Cardano/Logging/DocuGenerator.hs
Owners: @docs-access, @deepfire, @denisshevchenko, @jutaro

cardano-node: added forgeThreadStats docu.
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ForgingThreadStats.hs
  doc/new-tracing/tracers_doc_generated.md
Owners: @deepfire, @denisshevchenko, @jutaro, @docs-access

trace-dispatcher: revert optimization
  doc/new-tracing/tracers_doc_generated.md
  trace-dispatcher/src/Cardano/Logging/DocuGenerator.hs
Owners: @docs-access, @deepfire, @denisshevchenko, @jutaro

Consensus dep bump
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update network changes after dep bump Co-authored-by: Marcin Szamotulski <coot@coot.me>
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/NodeToNode.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops, @coot

add genesis create-cardano command
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Utils.hs
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/Byron/Genesis.hs
  cardano-cli/src/Cardano/CLI/Byron/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Genesis.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Key.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update tracing events and prevent elision for pipelining
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

TOSQUASH bump o-n dep for TraceForgingMempoolSnapshot thunk fixup
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Consensus dep bump
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update network changes after dep bump Co-authored-by: Marcin Szamotulski <coot@coot.me>
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/NodeToNode.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops, @coot

Update tracing events and prevent elision for pipelining
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Stuff
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Fixes
  cardano-api/src/Cardano/Api/Modes.hs
  cardano-api/src/Cardano/Api/Protocol/Types.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Fixes
  cardano-api/src/Cardano/Api/Block.hs
  cardano-api/src/Cardano/Api/Protocol/Types.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update dependencies
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update dependencies
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Rebase
  cabal.project
  cardano-node/src/Cardano/Node/Queries.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro, @coot, @devops

Add events and backing store selector
  cardano-node/src/Cardano/Node/Run.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
Owners: @devops, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Add: cabal.project changes
  cabal.project
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @deepfire, @denisshevchenko, @jutaro

Update network changes after dep bump Co-authored-by: Marcin Szamotulski <coot@coot.me>
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/NodeToNode.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SubmissionClient.hs
  cardano-node/src/Cardano/Node/Tracing/Documentation.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToNode.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @cleverca22, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan, @devops, @coot

Update tracing events and prevent elision for pipelining
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Consensus dep bump
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Update dependencies
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @nc6, @JaredCorduan

Allow patch branches in dependency check
  .github/bin/check-git-dependencies
Owners: @devops

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                       David          Duncan   Jordan     Erik   John      Nick Jared
*                       @DavidEichmann @dcoutts @Jimbo4350 @erikd @newhoggy @nc6 @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine
nix/supervisord-cluster                                       @deepfire @denisshevchenko @jutaro @MarcFontaine
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro
trace-forward                                                 @deepfire @denisshevchenko @jutaro
trace-resources                                               @deepfire @denisshevchenko @jutaro
Makefile                                                      @deepfire

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops
