Repository IntersectMBO/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @mgmeier, @cleverca22, @devops, @coot

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                        Duncan   Jordan     Erik   John      Jared
*                        @dcoutts @Jimbo4350 @erikd @newhoggy @JaredCorduan

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier @cleverca22
cardano-tracer                                                @deepfire @denisshevchenko
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine @mgmeier
trace-dispatcher                                              @deepfire @denisshevchenko @jutaro @mgmeier
trace-forward                                                 @deepfire @denisshevchenko @jutaro @mgmeier
trace-resources                                               @deepfire @denisshevchenko @jutaro @mgmeier
Makefile                                                      @deepfire @mgmeier
*.mk                                                          @deepfire @mgmeier

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
docker-compose.yml                                            @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops @coot
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Tracing                         @deepfire @denisshevchenko @jutaro
cardano-node/src/Cardano/Node/Tracing/Tracers/Diffusion.hs    @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToServer.hs @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/NonP2P.hs       @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/P2P.hs          @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Tracing/Tracers/Peer.hs         @deepfire @denisshevchenko @jutaro @coot
cardano-node/src/Cardano/Node/Run.hs                          @devops

Remove Summon type class and modify EraCast type class
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/EraCast.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/Summon.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Swap order of arguments to eraCast
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/EraCast.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

RTView: fix Mem metric name.
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Resources.hs
Owners: @deepfire, @denisshevchenko

RTView: fix end date of epoch.
  cardano-tracer/src/Cardano/Tracer/Handlers/RTView/Update/Nodes.hs
Owners: @deepfire, @denisshevchenko

Improve error type for the eraCast operation
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/EraCast.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Fix unresolved conflicts in traces_doc_generated.md
  doc/new-tracing/tracers_doc_generated.md
Owners: @docs-access

Reduce memory usage of the create-staked command using lazy IO.
  cabal.project
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/Eras.hs
  cardano-api/src/Cardano/Api/Key.hs
  cardano-api/src/Cardano/Api/KeysShelley.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-cli/cardano-cli.cabal
  cardano-cli/src/Cardano/CLI/IO/Lazy.hs
  cardano-cli/src/Cardano/CLI/Shelley/Key.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Address.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Genesis.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/StakeAddress.hs
  doc/new-tracing/tracers_doc_generated.md
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @docs-access

Fix indentation
  cardano-api/src/Cardano/Api/Query.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Process PR comments
  cardano-node/src/Cardano/Node/Configuration/LedgerDB.hs
  cardano-node/src/Cardano/Node/Configuration/POM.hs
  cardano-node/src/Cardano/Node/Parsers.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Process PR comments: Update documentation
  README.rst
  cardano-node/src/Cardano/Node/Parsers.hs
Owners: @docs-access, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

adding the new faucet code
  cardano-cli/cardano-cli.cabal
  cardano-cli/cardano-new-faucet.hs
  cardano-cli/src/Cardano/CLI/Faucet.hs
  cardano-cli/src/Cardano/CLI/Faucet/Misc.hs
  cardano-cli/src/Cardano/CLI/Faucet/TxUtils.hs
  cardano-cli/src/Cardano/CLI/Faucet/Types.hs
  cardano-cli/src/Cardano/CLI/Faucet/Utils.hs
  cardano-cli/src/Cardano/CLI/Faucet/Web.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Callsites for toAlonzoPParams
  cardano-api/src/Cardano/Api/Fees.hs
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-api/src/Cardano/Api/ProtocolParameters.hs
  cardano-api/src/Cardano/Api/TxBody.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

tx-generator : remove inputsPerTx outputsPerTx txCount and minValuePerUTxO from mutable state
  bench/tx-generator/src/Cardano/Benchmarking/Compiler.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Action.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Aeson.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Selftest.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Setters.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22

trace-dispatcher: adopt config
  trace-dispatcher/doc/trace-dispatcher.md
  trace-dispatcher/examples/config.json
  trace-dispatcher/examples/config.nix
  trace-dispatcher/examples/config.yaml
Owners: @deepfire, @denisshevchenko, @jutaro, @mgmeier, @devops

config: adopt trace config
  configuration/cardano/mainnet-config-new-tracing.yaml
  configuration/cardano/membench-config-new.yaml
  doc/New Tracing Quickstart.md
Owners: @devops, @docs-access

cherry pick ouroboros-network fixo
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Rework Windows CI to use MSYS2
  .github/workflows/check-git-dependencies.yml
  .github/workflows/check-mainnet-config.yml
  .github/workflows/check-nix-config.yml
  .github/workflows/github-page.yml
  .github/workflows/haskell.yml
  .github/workflows/nightly-trigger.yml
  .github/workflows/release.yaml
Owners: @devops

RTView: a link from tracer's README, quick start.
  cardano-tracer/README.md
  cardano-tracer/configuration/minimal-example-rtview.json
  cardano-tracer/configuration/minimal-example-rtview.yaml
  cardano-tracer/docs/cardano-rtview.md
Owners: @deepfire, @denisshevchenko, @devops

More MSYS2
  .github/workflows/haskell.yml
Owners: @devops

Some more MSYS
  .github/workflows/haskell.yml
Owners: @devops

Integrate UTxO-HD
  .github/workflows/github-page.yml
  .github/workflows/haskell.yml
  README.rst
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  cabal.project
  cardano-api/src/Cardano/Api/IPC.hs
  cardano-api/src/Cardano/Api/IPC/Monad.hs
  cardano-api/src/Cardano/Api/LedgerState.hs
  cardano-api/src/Cardano/Api/Query.hs
  cardano-cli/src/Cardano/CLI/Shelley/Commands.hs
  cardano-cli/src/Cardano/CLI/Shelley/Parsers.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Query.hs
  cardano-client-demo/ChainSyncClientWithLedgerState.hs
  cardano-client-demo/LedgerState.hs
  cardano-client-demo/StakeCredentialHistory.hs
  cardano-node/cardano-node.cabal
  cardano-node/src/Cardano/Node/Configuration/LedgerDB.hs
  cardano-node/src/Cardano/Node/Configuration/POM.hs
  cardano-node/src/Cardano/Node/Parsers.hs
  cardano-node/src/Cardano/Node/Queries.hs
  cardano-node/src/Cardano/Node/Run.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/ChainDB.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/NodeToClient.hs
  cardano-node/src/Cardano/Node/Tracing/Tracers/StartLeadershipCheck.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Consensus.hs
  cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs
  cardano-node/src/Cardano/Tracing/Tracers.hs
  cardano-node/test/Test/Cardano/Node/POM.hs
  cardano-testnet/src/Testnet/Byron.hs
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/src/Testnet/Shelley.hs
  cardano-testnet/test/Spec/ShutdownOnSlotSynced.hs
  doc/getting-started/building-the-node-on-windows.md
  doc/getting-started/install.md
  doc/getting-started/understanding-config-files.md
  nix/lmdb-mingw.patch
  nix/pkgs.nix
Owners: @devops, @docs-access, @deepfire, @denisshevchenko, @jutaro, @MarcFontaine, @mgmeier, @cleverca22, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan, @coot

More MSYS2
  .github/workflows/haskell.yml
Owners: @devops

More more MSYS2
  .github/workflows/haskell.yml
Owners: @devops

YML can't use colon
  .github/workflows/haskell.yml
Owners: @devops

Perhaps use can't inherit shell
  .github/workflows/haskell.yml
Owners: @devops

Sed replace in config and remove retry
  .github/workflows/haskell.yml
Owners: @devops

Typo
  .github/workflows/haskell.yml
Owners: @devops

more
  .github/workflows/cabal.project.local.Windows
  .github/workflows/haskell.yml
Owners: @devops

Try to fix nix
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Remove Hash from ouroboros network
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Restore ON sha
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Concise
  cardano-api/src/Cardano/Api/Address.hs
  cardano-api/src/Cardano/Api/EraCast.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/src/Cardano/Api/TxBody.hs
  cardano-api/src/Cardano/Api/ValueParser.hs
  cardano-cli/src/Cardano/CLI/Shelley/Run/Transaction.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Linting
  cardano-node/test/Test/Cardano/Node/POM.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Tweak chairman tests
  cardano-testnet/src/Testnet/Byron.hs
  cardano-testnet/src/Testnet/Cardano.hs
  cardano-testnet/src/Testnet/Shelley.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Explain how to get utxo address in hex.
  doc/reference/shelley-genesis.md
Owners: @docs-access

update ledger and plutus
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

bump ouroboros-network for obsolete node fix
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Fix `TraceNodeIsLeader` JSON parser
  cardano-testnet/src/Test/Assert.hs
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Bump ouroboros-network to fix sgInitialFunds
  cabal.project
Owners: @dcoutts, @Jimbo4350, @erikd, @newhoggy, @JaredCorduan

Update opcert counter vasil
  doc/stake-pool-operations/KES_period.md
Owners: @docs-access
